section
  h1 CSS3

section
  h2 CSS3 n'existe pas!
  ul.fragment
    li C'est la suite logique au langage CSS, le langage des feuilles de styles.
  h3.fragment CSS1
  ul.fragment
    li Recommandation en 1996
    li Sélecteurs simples, positionnements basiques, tailles, marges, couleurs, polices, etc.

section
  h2 CSS3 n'existe pas!
  h3.fragment CSS2
  ul.fragment
    li Abandonnée en 1998
    li Trop de choses, trop complexes ou sous-spécifiées
    li Pseudo-classes dynamiques, pseudo-éléments, polices personnalisées, gestion des médias, ombres sur les textes, etc.
  h3.fragment CSS2.1
  ul.fragment
    li Version "corrigée" de CSS2, ce qui a été retiré est mis à l'étude dans CSS3
    li Recommandation en juin 2011

section
  h2 CSS3 n'existe pas!
  h3.fragment CSS3
  ul.fragment
    li En cours depuis 1999
    li Standard fragmenté en modules
    li 5 modules en Recommandation, une trentaine à l'étude
  h3.fragment CSS4
  ul.fragment
    li Ne verra jamais le jour

section
  h2 Les modules
  ul
    li.fragment Les sélecteurs
    li.fragment Les couleurs
    li.fragment Les unités
    li.fragment Les animations
    li.fragment Les transformations
    li.fragment etc.

section
  h2 Démocratisation de CSS3
  p.fragment Pourquoi entends t'on beaucoup parler de CSS3?
  ul
    li.fragment Meilleur ami de HTML5
    li.fragment Sélecteurs étoffés
    li.fragment Effets graphiques simplifiés: opacité, angles arrondis, ombres, dégradés, polices personnalisées, etc. (maintenance++)
    li.fragment Accès à ce qui était réservé avant à JavaScript (interaction, animation, etc.)
    li.fragment Nouveaux modes de positionnement
    li.fragment Support amélioré de CSS2.1 par les navigateurs
      ul
        li.fragment Fin de IE6, IE7, IE8

section.language-css

  section
    h1 Mettre en place CSS3

  section
    h2 Utiliser CSS3?
    p.fragment Oui!
      strong.fragment Mais comment?
    ul
      li.fragment Connaitre l'état d'avancement des modules, des propriétés
        ul
          li.fragment Stable, brouillon, ...
      li.fragment Un site: 
        a(href="http://caniuse.com") caniuse.com
        ul
          li.fragment Et aussi: 
            a(href="http://css3test.com") css3test.com
      li.fragment Conserver la 
        strong dégradation gracieuse
      li.fragment Mettre en place l'
        strong amélioration progressive

  section
    h2 Dégradation gracieuse / Amélioration progressive
    ul
      li.fragment Plus ou moins la même chose
      li.fragment La 
        strong dégradation gracieuse
        |, c'est prévoir des solutions de recours pour des navigateurs anciens
      li.fragment L'
        strong amélioration progressive
        |, c'est mettre en place des solutions pour les navigateurs récents, sans altérer le rendu sur navigateurs anciens
    ul
      li.fragment Pas forcément pour un résultat identique

  section
    h2 Dégradation gracieuse / Amélioration progressive
    ul
      li.fragment Pour cela:
        ul
          li.fragment Ne rien faire
          li.fragment Utilisation de styles alternatifs, via la cascade CSS.
          li.fragment Utilisation des préfixes
          li.fragment Détection de fonctionnalités (CSS ou JavaScript)

  section
    h2 1. Ne rien faire
    ul
      li.fragment Par exemple, mettre en place les coins arrondis
    pre.fragment
      code.
        .e {
          border-radius: 20px;
        }
    ul
      li.fragment Pas de bords arrondis sur les 
        a(href='http://caniuse.com/#feat=border-radius') anciens navigateurs
        |  (mais c'est pas grave)

  section
    h2 2. Styles alternatifs
    ul
      li Par exemple, 
        code rgba
        |  pour la transparence
    pre.fragment
      code.
        .e {
          background: rgba(0, 0, 0, .5);
        }
    ul
      li.fragment devient:
    pre.fragment
      code.
        .e {
          background: #000;
          background: rgba(0, 0, 0, .5);
        }

  section
    h2 3. Utilisation des préfixes
    ul
      li.fragment Compatibilité entre navigateurs
      li.fragment De moins en moins le cas (politique différente)
      li.fragment Utilisation facilitée par des outils
    ul
      li.fragment Par exemple, Android &lt;3 supporte les ombres, mais avec la propriété préfixée
    pre.fragment
      code.
        .e {
          -webkit-box-shadow: 0 0 5px green;
                  box-shadow: 0 0 5px green;
        }

  section
    h2 4. Détection de fonctionnalités
    ul
      li.fragment CSS: utilisation de 
        code @supports
      li.fragment JS: utilisation d'outil comme 
        a(href='http://modernizr.com') Modernizr
    ul
      li.fragment Par exemple, ajout d'une bordure si le navigateur ne supporte pas les ombres.
    pre.fragment
      code.
        .e {
          -webkit-box-shadow: 0 0 5px green;
                  box-shadow: 0 0 5px green;
        }
        @supports not (box-shadow) {
          .e {
            border: 1px solid green;
          }
        }




















//- Sélecteurs CSS

section.language-css

  section
    h1 Les sélecteurs avancés

  section
    h2 Les sélecteurs CSS1, 2.1 et 3
    ul
      li.fragment Plus de 40 sélecteurs
        ul
          li.fragment Sélecteur de descendants (
            code E F
            |), d'enfants (
            code E>F
            |)
          li.fragment Sélecteur de frères suivants (
            code E+F
            |, 
            code E~F
            |)
          li.fragment Sélecteur d'id (
            code E#id
            |) et de classe (
            code E.class
            |)
          li.fragment Pseudo-classes (
            code E:first-child
            |, 
            code E:last-child
            |, etc.)
          li.fragment Pseudo-classes dynamiques (
            code E:hover
            |, 
            code E:focus
            |, 
            code E:active
            |, etc.)
          li.fragment Pseudo-éléments (
            code E::first-letter
            |, 
            code E::after
            |, 
            code E::before
            |, etc.)
      li.fragment Notez la différence entre 
        code :
        |  et 
        code ::

  section
    h2 Les sélecteurs d'attributs
    ul
      li.fragment Cibler des éléments en fonction de leur attributs (et de leurs valeurs), mêmes les 
        em data-attributes
        |  de HTML5.
      li.fragment 
        code [attr]
        |, 
        code [attr=val]
        |, 
        code [attr~=val]
      li.fragment 
        code [attr^=abc]
        |: commençant par
      li.fragment 
        code [attr$=abc]
        |: finissant par
      li.fragment 
        code [attr*=abc]
        |: contient

  section
    h2 La pseudo-classe 
      code :nth-child()
    ul
      li.fragment Cible le n
        sup ième
        |  enfant d'un élément
        ul
          li.fragment 
            code :nth-child(3)
            |  cible le 3
            sup ème
            | enfant
          li.fragment 
            code :nth-child(an+b)
            |  ou a et b sont des entiers
      li.fragment Ex: 
        code :nth-child(3n+2), pour chaque valeur de n:
        ul
          li.fragment n=0, 3x0 + 2, total= 2
          li.fragment n=1, 3x1 + 2, total= 5
          li.fragment n=2, 3x2 + 2, total= 8
          li.fragment Les 2e, 5e et 8e enfants sont sélectionnés.

  section
    h2 La pseudo-classe 
      code :nth-child()
    ul
      li.fragment Se décline:
        ul
          li.fragment 
            code :nth-last-child()
          li.fragment 
            code :nth-of-type()
            |, 
            code :nth-last-of-type()

  section
    h2 La pseudo-classe 
      code :not()
    ul
      li.fragment
        code :not()
        |  permet de retirer un sélecteur simple:
        ul
          li.fragment 
            code div:not(.toto)
          li.fragment 
            code ul li a:not(:hover)
          li.fragment 
            code .toto:not(p)
          li.fragment 
            code a:not([href^=http])
      li.fragment Pas de sélecteurs avancés
        ul
          li
            code :not(div p)
            |  est invalide.

  section
    h2 Les pseudo-classes de formulaires
    ul
      li.fragment
        code :valid
        |, 
        code :invalid
        |, 
        code :required
      li.fragment
        code :enabled
        |, 
        code :disabled
      li.fragment
        code :checked

  section
    h2 Les pseudo-éléments de formulaires
    ul
      li.fragment Aie!
      li.fragment
        a(href='http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls') Liste complète
      li.fragment Accéder au Shadow DOM

  section
    h2 Support
    ul
      li.fragment À partir d'IE8 (sélecteurs d'attributs) et IE9 (autres sélecteurs)




















//- CSS3 FTW
//- Effets graphiques

section.language-css

  section
    h1 CSS3 FTW (effets graphiques, dégradés, font-face)

  section
    h2 Arrière-plans multiples
    pre.fragment
      code.
        .e {
          background: url(img.png), url(img2.png);
        }
    ul
      li.fragment Plusieurs images séparées par une virgule:
        ul
          li.fragment La première image est au dessus
          li.fragment Les images suivantes sont affichées en dessous
      li.fragment Nécessité de transparence dans les images

  section
    h2 Rogner l'arrière-plan
    pre.fragment
      code.
        .e {
          background-clip: content-box;
        }
    ul
      li.fragment Rogne une image d'arrière-plan:
        ul
          li.fragment
            code border-box
            |: limite de bordure (valeur par défaut)
          li.fragment
            code padding-box
            |: limite des marges internes
          li.fragment
            code content-box
            |: limite du contenu

  section
    h2 Origine de l'arrière-plan
    pre.fragment.large
      code.
        .e {
          background-origin: content-box;
        }
    ul
      li.fragment Définit l'origine d'une image d'arrière-plan:
        ul
          li.fragment
            code border-box
            |: limite de bordure (valeur par défaut)
          li.fragment
            code padding-box
            |: limite des marges internes
          li.fragment
            code content-box
            |: limite du contenu
      li.fragment
        code background-position
        |  est calculé par rapport à cette origine

  section
    h2 Taille de l'arrière-plan
    pre.fragment
      code.
        .e {
          background-size: 100%;
        }
    ul
      li.fragment Définit la taille d'une image d'arrière-plan
      li.fragment Valeur 
        code auto
        |  par défaut
      li.fragment 2 mots-clés: 
        code cover
        |  et 
        code contain
    ul
      li.fragment Attention à la pixellisation
      li.fragment Préférez SVG à PNG

  section
    h2 SVG vs PNG
    ul
      li.fragment Format vectoriel (SVG) vs format bitmap (PNG, JPG, GIF)
      li.fragment Bitmap:
        ul
          li.fragment Composé de pixels
          li.fragment Redimensionnement difficile
      li.fragment Vectoriel:
        ul
          li.fragment Construit à partir de formes géométriques
          li.fragment Attributs de tailles, de position, de couleurs, etc.
          li.fragment Redimensionnement facilité, réutilisable par morceaux (format XML), stylable par CSS, etc.

  section
    h2 Les coins arrondis
    pre.fragment
      code.
        .e {
          border-radius: 2px;
        }
    ul
      li.fragment Crée des angles arrondis
      li.fragment La contenu est masqué par les arrondis

  section
    h2 Utilisation
    ul
      li.fragment 1 valeur:
        ul
          li les 4 arrondis sont identiques
          li ex: 
            code border-radius: 2px;
      li.fragment 2 valeurs:
        ul
          li la première pour l'angle NW et l'angle SE
          li la seconde pour l'angle NE et l'angle SW
          li ex: 
            code border-radius: 2px 5px;
      li.fragment 4 valeurs:
        ul
          li chaque angle a son propre arrondi
          li ex: 
            code border-radius: 2px 0 5px 10px;

  section
    h2 Utilisation
    ul
      li.fragment Également des propriétés dédiées:
        ul
          li
            code border-top-left-radius
          li
            code border-top-right-radius
          li
            code border-bottom-right-radius
          li
            code border-bottom-left-radius

  section
    h2 Pourcentages
    ul
      li.fragment Accepte les pourcentages (par rapport à la boite elle-même)
      li.fragment
        code border-radius: 50% 
        |  crée une ellipse. Un rond si la largeur est égale à la hauteur.

  section
    h2 Deux valeurs par angles
    ul
      li.fragment Possible de définir des courbes elliptiques, avec deux valeurs, X et Y
      li.fragment Séparer les valeurs par un slash
      li.fragment Ex: 
        code border-radius: 80px / 40px
    +img2('borderRadius.png')
    ul
      li.fragment Possible de combiner. Ex: 
        code border-radius: 20px 100px / 100px 20px

  section
    h2 Les ombres sur textes
    pre.fragment
      code.
        .e {
          text-shadow: 2px 2px 5px black;
        }
    ul
      li.fragment Ajoute une ou plusieurs ombres sur le texte
    h3.fragment Utilisation
    ul
      li.fragment 4 valeurs:
        ul
          li.fragment Décalage vers la droite
          li.fragment Décalage vers le bas
          li.fragment Valeur du flou
          li.fragment Couleur de l'ombre

  section
    h2 Les ombres sur boites
    pre.fragment
      code.
        .e {
          box-shadow: 2px 2px 5px (5px) black (inset);
        }
    ul
      li.fragment Ajoute une ou plusieurs ombres sur une boite
    h3.fragment Utilisation
    ul
      li.fragment 4 valeurs:
        ul
          li.fragment Décalage vers la droite
          li.fragment Décalage vers le bas
          li.fragment Valeur du flou
          li.fragment Couleur de l'ombre
      li.fragment 2 options:
        ul
          li.fragment Ombre interne avec code inset
          li.fragment Agrandissement / réduction de l'ombre

  section
    h2 L'opacité
    pre.fragment
      code.
        .e {
          opacity:0.5;
        }
    ul
      li.fragment Rends un élément transparent (et tous ses enfants)
      li.fragment Valeur entre 0 et 1:
        ul
          li.fragment 0 rend invisible
          li.fragment 1 rend visible

  section
    h2 Les fonctions de couleur
    pre.fragment
      code.
        .e {
          background: rgba(235, 162, 53, .5);
        }
    ul
      li.fragment Fonction 
        code rgba 
        | pour red, green, blue, alpha
      li.fragment Applique une couleur RVB avec transparence
      li.fragment Extension de 
        code rgb(r,v,b)

  section
    h2 Les couleurs HSL
    pre.fragment
      code.
        .e {
          background: hsl(60, 100%, 50%);
        }
    ul
      li.fragment Modèle HSL pour hue, saturation, lightness (Teinte, Saturation, Luminance)
      li.fragment Beaucoup plus parlant que RVB
        ul
          li.fragment
            strong Teinte
            |: valeur sur le cercle chromatique de 0 (rouge) à 360 (rouge). À 60: Jaune, à 120: Vert, à 180: Cyan, à 240: Bleu, à 300: Magenta.
          li.fragment
            strong Saturation
            |: valeur de 0 à 100%
          li.fragment
            strong Luminance
            |: valeur de 0 (entièrement noir) à 100% (entièrement blanc). 50% correspond à la teinte de base

  section
    h2 Les couleurs HSL
    ul
      li Représentation possible:
    +img2('hsl.jpg')

  section
    h2 Les couleurs HSL
    ul
      li Jaune:
        ul
          li
            code hsl(60, 100%, 50%)
      li.fragment Plus foncé:
        ul
          li
            code hsl(60, 100%, 
              strong(style="color: deepskyblue") 30%
              |)
      li.fragment Plus clair
        ul
          li
            code hsl(60, 100%, 
              strong(style="color: deepskyblue") 70%
              |)
      li.fragment Couleur complémentaire (+180°)
        ul
          li
            code hsl(
              strong(style="color: deepskyblue") 240
              |, 100%, 50%)
    ul
      li.fragment Déclinaison avec transparence 
        code hsla()

  section
    h2 Les dégradés CSS
    ul
      li.fragment Création d'images à la volée
      li.fragment S'utilise avec les propriétés d'images
        ul
          li
            code background-image
            |, 
            code list-style-image
            |, etc.
      li.fragment 2 types de dégradés: linéaires et radiaux

  section
    h2 Dégradés linéaires
    pre.fragment
      code.
        .e {
          background: linear-gradient(to left, red, green);
        }
    ul
      li.fragment Crée un dégradé linéaire
      li.fragment 3 valeurs:
        ul
          li.fragment La direction avec le mot-clé 
            code to
            |  (optionnelle, 
            code to bottom
            |  par défaut)
          li.fragment Couleur de départ
          li.fragment Couleur de fin
      li.fragment Nombre de couleurs illimité
      li.fragment Positionnement des color-stops automatiques/manuels

  section
    h2 Les color-stops
    ul
      li.fragment Les couleurs du dégradé
      li.fragment Automatiques
        ul
          li.fragment 
            code linear-gradient(red, green, blue)
          li.fragment red à 0%, green à 50% et blue à 100%
      li.fragment Manuels
        ul
          li.fragment 
            code linear-gradient(red 20%, green 30%, blue)
          li.fragment red à 20%, green à 30% et blue à 100%

  section
    h2 Dégradés radiaux
    pre.fragment
      code.
        .e {
          background: radial-gradient(closest-side at 20% 20%, red, green);
        }
    ul
      li.fragment Crée un dégradé radial
      li.fragment 3 valeurs:
        ul
          li.fragment La taille et position (optionnelle, code farthest-corner at center par défaut)
          li.fragment Couleur de départ
          li.fragment Couleur de fin
      li.fragment Gestion des couleurs identiques aux dégradés linéaires


  section
    h2 La taille
    ul
      li.fragment Unités classiques:
        ul
          li.fragment Ex: 
            code radial-gradient(200px, red, green)
      li.fragment Mots-clés
        ul
          li.fragment
            code closest-side
            |: jusqu'au plus proche côté
          li.fragment
            code farthest-side
            |: jusqu'au plus lointain côté
          li.fragment
            code closest-corner
            |: jusqu'au plus proche angle
          li.fragment
            code farthest-corner
            |: jusqu'au plus lointain angle
          li.fragment Ex: 
            code radial-gradient(closest-side, red, green)
      li.fragment Forme
        ul
          li.fragment 
            code circle
            |: crée un cercle
          li.fragment 
            code ellipse
            |: crée une ellipse
          li.fragment Ex: 
            code radial-gradient(circle closest-side, red, green)

  section
    h2 La position
    ul
      li.fragment Mot-clé 
        code at
      li.fragment Unités classiques de positionnement
        ul
          li.fragment Ex: 
            code radial-gradient(at 100px 100px, red, green)
    ul
      li.fragment Combiner les deux
        ul
          li.fragment Ex: 
            code radial-gradient(closest-corner at 100px 100px, red, green)




















//- Font-face

section.language-css

  section
    h1 @font-face

  section
    h2 Polices personnalisées
    ul
    pre.fragment
      code.
        @font-face {
          font-family: 'maPolice';
          src: 'maPolice.woff';
        }
        h1 {
          font-family: maPolice, sans-serif;
        }
    ul
      li.fragment
        a(href='http://caniuse.com/#search=font-face') Support

  section
    h2 Différents formats
    ul
      li.fragment WOFF, WOFF2
        ul
          li.fragment Conçu pour le web, très léger
      li.fragment TTF/OTF
        ul
          li.fragment Format historique, plus lourd
      li.fragment EOT
        ul
          li.fragment Internet Explorer 8
      li.fragment SVG
        ul
          li.fragment Tué dans l'oeuf

  section
    h2 Polices en ligne
    ul
      li.fragment Téléchargeable ou hébergée
      li.fragment
        a(href='https://www.google.com/fonts') Google Webfonts
      li.fragment
        a(href='http://www.fontsquirrel.com/') Font Squirrel
      li.fragment
        a(href='https://typekit.com/') Typekit
      li.fragment Et beaucoup d'autres
    ul
      li.fragment Renseignez-vous sur les licences




















//- Animations / Transitions

section.language-css

  section
    h1 Animations / Transitions

  section
    h2 Animez simplement: les transitions
    ul
      li.fragment C'est quoi une transition?
    ul
      li.fragment Animer une propriété 
        strong d'une valeur A à une valeur B
        ul
          li.fragment Par exemple de 
            code color: red
            |  à 
            code color: green
      li.fragment Effectuée lors d'un changement d'état
        ul
          li.fragment Pour cela, besoin d'un 
            strong déclencheur

  section
    h2 Déclencheurs
    ul
      li.fragment Utilisation de pseudo-classes (
        code :hover
        |, 
        code :focus
        |, etc.)
      li.fragment Modification via JavaScript (ajout de classes)
      li.fragment Chargement de la page (?)

  section
    h2 Utilisation
    pre.fragment
      code.
        .e {
          transition: width 1s;
        }
    ul
      li.fragment 5 propriétés:
        ul
          li.fragment
            code transition
            |: propriété raccourcie
          li.fragment
            code transition-property
            |: propriété à animer
          li.fragment
            code transition-duration
            |: durée de la transition
          li.fragment
            code transition-delay
            |: retardement de la transition
          li.fragment
            code transition-timing-function
            |: méthode d'interpolation

  section
    h2 Durée
    ul
      li.fragment Utilisation des unités CSS3 de temps
        ul
          li.fragment
            code s
            |: secondes
          li.fragment
            code ms
            |: millisecondes (1/1000e seconde)

  section
    h2 Transitions multiples
    ul
      li.fragment Séparer les déclarations par une virgule
      li.fragment Ou utilisez les propriétés longues
    pre.fragment
      code.
        .e {
          transition: width 1s, height 2s;
        }
        /* équivalent */
        .e {
          transition-property: width; height;
          transition-duration: 1s, 2s;
        }

  section
    h2 Méthodes d'interpolation
    ul
      li.fragment Contrôle de la vitesse de l'animation dans le temps
      li.fragment Propriété 
        code transition-timing-function


  section
    h2 Méthodes d'interpolation
    +img2('trTimingFn.png')
    ul
      li.fragment 5 méthodes:
        ul
          li.fragment
            code linear
            |: linéaire
          li.fragment
            code ease
            |: départ rapide, arrivée lente (défaut)
          li.fragment
            code ease-in
            |: départ lent
          li.fragment
            code ease-out
            |: arrivée lente
          li.fragment
            code ease-in-out
            |: départ lent, arrivée lente

  section
    h2 Interpolation avancée
    ul
      li.fragment La fonction 
        code cubic-bezier()
      li.fragment Définit une courbe de Bézier avec 2 points
    ul
      li.fragment
        code cubic-bezier(p1x, p1y, p2x, p2y)
    ul
      li.fragment Part obligatoirement de 
        code (0, 0)
        |  et arrive en 
        code (1, 1)

  section
    h2 Interpolation avancée
    +img2('trCubic.png')
    ul
      li.fragment Aide: 
        a(href="http://cubic-bezier.com") cubic-bezier.com
  
  section
    h2 Animez plusieurs états: les animations
    ul
      li.fragment C'est quoi une animation?
    
    ul
      li.fragment Plusieurs transitions qui s'enchainent
      li.fragment Animer une propriété 
        strong d'une valeur A à une valeur B, puis de B à C, ...
        ul
          li.fragment Par exemple de 
            code color: red
            |  à 
            code color: green
            |  puis vers 
            code color: blue
      li.fragment Chaque transition est définie sour forme d'étapes
      li.fragment 2 actions nécessaires
        ul
          li.fragment Création des étapes-clés
          li.fragment Utilisation de l'animation créée

  section
    h2 Création des étapes-clés
    pre.fragment
      code.
        @keyframes nomAnim {
          from {color: red}
          40%  {color: green}
          to   {color: blue}
        }
    ul
      li.fragment Définit 3 étapes, soit 2 transitions:
        ul
          li.fragment de 0 à 40%: de 
            code color: red
            |  à 
            code color: green
          li.fragment de 40% à 100%: de 
            code color: green
            |  à 
            code color: blue
      li.fragment Revient à l'état initial une fois l'animation terminée

  section
    h2 Utilisation
    pre.fragment
      code.
        .e {
          animation: nomAnim 2s ease 5;
        }
    ul
      li.fragment 6 propriétés:
        ul
          li.fragment
            code animation
            |: propriété raccourcie
          li.fragment
            code animation-name
            |: nom de l'animation utilisée
          li.fragment
            code animation-duration
            |: durée de l'animation
          li.fragment
            code animation-delay
            |: retardement de l'animation
          li.fragment
            code animation-timing-function
            |: méthode d'interpolation
          li.fragment
            code animation-iteration-count
            |: nombre de répétition

  section
    h2 Répéter une animation
    pre.fragment
      code.
        .e {
          animation-iteration-count: infinite;
        }
    ul
      li.fragment Le mot-clé 
        code infinite
        |  permet de répéter une animation en boucle


  section
    h2 Modifier le sens de l'animation
    pre.fragment
      code.
        .e {
          animation-direction: normal | alternate;
        }
    ul
      li.fragment Permet de gérer le sens dans lequel est jouée l'animation
        ul
          li.fragment
            code normal
            |: l'animation est jouée dans le sens normal
          li.fragment
            code alternate
            |: l'animation est jouée une fois sur deux en sens inverse
          li.fragment
            code reverse
            |: l'animation est jouée en sens inverse
      li.fragment Pratique pour reproduire une animation inverse, sans définir de nouvelles étapes clés

  section
    h2 Avant et après une animation
    pre.fragment
      code.
        .e {
          animation-fill-mode: backwards | forwards | both;
        }
    ul
      li.fragment Permet de gérer l'état d'une animation:
        ul
          li.fragment avant le début de celle-ci
          li.fragment après la fin de celle-ci
      li.fragment Par défaut, l'animation est jouée et l'état initial de l'élément est appliqué




















//- Transformations

section.language-css

  section
    h1 Transformations

  section
    h2 Transformez facilement les éléments d’une page
    ul
      li.fragment C'est quoi une transformation?
    ul
      li.fragment Appliquer des fonctions de modification
        ul
          li.fragment Par exemple des rotations, des translations, des mises à l'échelle, des inclinaisons, etc.
      li.fragment 2 types de transformations
        ul
          li.fragment 2D et 3D

  section
    h2 Utilisation de la 2D
    pre.fragment
      code.
        .e {
          transform: rotate(45deg) translateX(50px);
        }
    ul
      li.fragment Propriété 
        code transform
      li.fragment Ici: rotation de 45 degrés, translation X de 50px
    ul
      li.fragment 2 axes de transformation:
        ul
          li.fragment X: de la gauche vers la droite
          li.fragment Y: du haut vers le bas

  section
    h2 Les fonctions de transformations
    ul
      li.fragment Translations:
        ul
          li
            code translate(x, y)
            |, 
            code translateX()
            |, 
            code translateY()
      li.fragment Rotation:
        ul
          li
            code rotate()
      li.fragment Mises à l'échelle:
        ul
          li
            code scale(x, y)
            |, 
            code scaleX()
            |, 
            code scaleY()
      li.fragment Inclinaisons:
        ul
          li
            code skewX()
            |, 
            code skewY()
      li.fragment Matrices:
        ul
          li
            code matrix()

  section
    h2 Utilisation de la 3D
    pre.fragment
      code.
        .e {
          transform: rotateX(45deg) translateZ(50deg);
        }
    ul
      li.fragment Idem que pour la 2D
      li.fragment Propriété 
        code transform
    ul
      li.fragment Nouvel axe de transformation Z:
        ul
          li.fragment positif vers l'utilisateur
          li.fragment négatif vers le fond de l'écran

  section
    h2 Les fonctions de transformations 3D
    ul
      li.fragment Translations:
        ul
          li
            code translateZ()
            |, 
            code translate3d(x, y, z)
      li.fragment Rotation:
        ul
          li
            code rotateX()
              |, 
            code rotateY()
              |, 
            code rotateZ()
              |, 
            code rotate3d(x, y, z, angle)
      li.fragment Mises à l'échelle:
        ul
          li
            code scaleZ()
            |, 
            code scale3d(x, y, z)
      li.fragment Matrices:
        ul
          li
            code matrix3d()

  section
    h2 Notion de perspective 3D
    pre.fragment
      code.
        .e {
          perspective: 500px;
        }
    ul
      li.fragment Permet le rendu de la scène 3D
        ul
          li.fragment A utiliser sur un parent
      li.fragment Petite perspective = proche de l'écran = forte impression 3D
      li.fragment Grande perspective = loin de l'écran = faible impression 3D
    ul
      li.fragment Sans perspective, aucun effet 3D!

  section
    h2 Transformations en cascade
    pre.fragment
      code.
        .e {
          transform-style: preserve-3d;
        }
    ul
      li.fragment Force la propagation de la 3D
      li.fragment La valeur par défaut est 
        code flat
    ul
      li.fragment Corrige également quelques problèmes dans l'ordre d'apparition des éléments
      li.fragment Non supporté par IE11 (en cours)

  section
    h2 Containing block
    ul
      li.fragment Contient ses enfants
      li.fragment Pas obligatoirement le parent
    
    ul
      li.fragment Une valeur autre que 
        code none
        |  pour 
        code transform
        |  crée un containing block

  section
    h2 Stacking context
    ul
      li.fragment Le 
        code z-index
        |  est limité à son contexte
    ul
      li.fragment Une valeur autre que 
        code none
        |  pour 
        code transform
         crée un stacking context




















//- Positionnement
section.language-css

  section
    h1 Positionnement

  section
    h2 Le modèle de boite
    ul
      li.fragment Le box model en CSS2.1
        ul
          li.fragment <code>width</code> est la largeur du contenu
          li.fragment largeur totale = <code>width</code> + <code>padding</code> + <code>border</code>
    +img('modeleBoite.jpg')

  section
    h2 Le modèle de boite, en mieux!
    ul
      li.fragment <code>box-sizing</code> modifie le calcul du modèle de boite
        ul
          li.fragment <code>box-sizing: content-box</code>: modèle CSS2.1
          li.fragment <code>box-sizing: border-box</code>: modèle CSS3
      li.fragment <code>width</code> devient la largeur totale
    +img('boxsizing.jpg')

  section
    h2 Le modèle de boite, en mieux!
    ul
      li.fragment Préconisé de toujours utiliser ce mode:
    pre.fragment
      code.
        *,
        *:before,
        *:after {
          box-sizing: border-box;
        }

  section
    h2 Support box-sizing
    ul
      li.fragment IE8+
      li.fragment Firefox &lt;= 28 avec préfixe <code>-moz-</code>
      li.fragment Android &lt;= 3 avec préfixe <code>-webkit-</code>

  section
    h2 Les différentes «méthodes»
    ul
      li.fragment La propriété <code>display</code>
        ul
          li.fragment <code>block</code>, <code>inline</code>, <code>list-item</code>
          li.fragment <code>inline-block</code>
          li.fragment <code>table</code>, <code>table-row</code>, <code>table-cell</code>...
      li.fragment La propriété <code>float</code>
        ul
          li.fragment <code>left</code>, <code>right</code>
      li.fragment La propriété <code>position</code>
        ul
          li.fragment <code>relative</code>, <code>absolute</code>, <code>fixed</code>, <code>sticky</code>

  section
    h2: code display: inline-block
    ul
      li.fragment Mode «hybride»
      li.fragment Éléments en ligne, mais conserve les propriétés de block (dimensionnement, marges, etc.)
      li.fragment Alignables entre eux avec <code>vertical-align</code>

  section
    h2: code display: table
    ul
      li.fragment Mode tabulaire
        ul
          li.fragment <code>display: table</code> simule un tableau (<code>&lt;table></code>)
          li.fragment <code>display: table-row</code> simule une ligne de tableau (<code>&lt;tr></code>)
          li.fragment <code>display: table-cell</code> simule une cellule de tableau (<code>&lt;td></code>)
      li.fragment Toute la structure n'est pas obligatoire (création d'éléments anonymes)
      li.fragment <code>table-layout</code> modifie le calcul d'affichage du tableau
        ul
          li.fragment <code>auto</code> la taille du tableau s'adapte au contenu
          li.fragment <code>fixed</code> le contenu s'adapte à la taille du tableau

  section
    h2 Les plus de display: table
    ul
      li.fragment Pas de sortie de flux
      li.fragment Éléments frères de même hauteur
      li.fragment Largeur étirable dans le tableau
      li.fragment Alignement vertical du contenu avec <code>vertical-align</code>

  section
    h2 Les moins de display: table
    ul
      li.fragment Pas de marges externes
      li.fragment Réorganisation des éléments difficile
        ul
          li.fragment Possible (un peu) avec <code>table-header-group</code>, <code>table-footer-group</code>
      li.fragment
        a(href="http://iamvdo.me/blog/imbrication-de-boites-en-css-avec-display-table") Imbrication plus complexe

  section
    h2 Support inline-block, table
    ul
      li.fragment IE8+

  section
    h2 Flexbox: La promesse
    ul
      li.fragment Affichage en bloc ou en ligne
      li.fragment Flexibilité des boites
      li.fragment Réorganisation des éléments
      li.fragment Alignements verticaux et horizontaux
      li.fragment Responsive design facilité
    ul
      li.fragment Plusieurs versions co-existent encore
      li.fragment Promesse tenue!

  section
    h2 L'élément Flexbox
    pre.fragment
      code.
        .e {
          display: flex;
        }
    ul
      li.fragment Définit l'élément principal Flexbox
      li.fragment Les Flex items (enfants) «subissent» ce mode

  section
    h2 Les axes du Flexbox
    pre.fragment
      code.
        .e {
          flex-flow: row wrap;
        }
    ul
      li.fragment Propriété <code>flex-flow</code>, un raccourci de 2 autres
        ul
          li.fragment <code>flex-direction</code> définit <strong>l'axe principal</strong> du Flexbox
            ul
              li.fragment <code>column</code>, <code>column-reverse</code>: affichage en colonnes
              li.fragment <code>row</code>, <code>row-reverse</code>: affichage en lignes
          li.fragment <strong>L'axe secondaire</strong> est donc l'axe perpendiculaire
      li.fragment <code>flex-wrap</code> gestion du débordement des lignes
        ul
          li <code>nowrap</code>
          li <code>wrap</code>, <code>wrap-reverse</code>

  section
    h2 La flexibilité
    pre.fragment
      code.
        .e {
          flex: 1 100px;
        }
    ul
      li.fragment Propriété <code>flex</code>, un raccourci de 3 autres:
        ul
          li.fragment <code>flex-grow</code> contrainte d'agrandissement
          li.fragment <code>flex-shrink</code> contrainte de réduction
          li.fragment <code>flex-basis</code> taille de base
      li.fragment S'applique sur chaque Flex item (enfant)

  section
    h2 Ordre d'affichage
    pre.fragment
      code.
        .e {
          order: 2;
        }
    ul
      li.fragment Propriété <code>order</code> change l'ordre d'apparition au cas par cas
      li.fragment Pratique pour réorganiser, mais attention à l'accessibilité

  section
    h2 Alignements
    ul
      li.fragment Marges classiques
      li.fragment Marges automatiques: <code>margin: auto</code>
    ul
      li.fragment Alignements en fonction de l'axe (principal ou secondaire)
      li.fragment Suit le <a href="http://dev.w3.org/csswg/css3-align/">Box Alignment Module</a> (non spécifique à Flexbox)

  section
    h2 Alignement axe principal
    ul
      li.fragment <code>justify-content</code> sur le parent Flexbox
        ul
          li.fragment <code>flex-start</code>, <code>flex-end</code>, <code>center</code>, <code>space-between</code>, <code>space-around</code>
    +img('alignPrincipal.jpg')

  section
    h2 Alignement axe secondaire
    ul
      li.fragment <code>align-items</code> sur le parent Flexbox
        ul
          li.fragment <code>flex-start</code>, <code>flex-end</code>, <code>center</code>, <code>baseline</code>, <code>stretch</code>
    +img('alignSecondaire.jpg')

  section
    h2 Alignement axe secondaire
    ul
      li.fragment Un élément peut avoir son propre alignement
      li.fragment <code>align-self</code> sur un Flexbox item (enfant)
        ul
          li.fragment <code>flex-start</code>, <code>flex-end</code>, <code>center</code>, <code>baseline</code>, <code>stretch</code>
    +img('alignSelf.jpg')

  section
    h2 Support flexbox
    ul
      li.fragment IE10+ avec le préfixe <code>-ms-</code>, IE11+
      li.fragment Firefox avec le préfixe <code>-moz-</code>, Firefox 28+
      li.fragment Chrome avec le préfixe <code>-webkit-</code>, Chrome 29+
      li.fragment Safari avec le préfixe <code>-webkit-</code>
    
    ul
      li.fragment Nécessité d'outil comme Autoprefixer, 
        a(href='http://pleeease.io/play') Pleeease playground




















//- CSS Solide

section

  section
    h1 CSS Solide