html {
  font-family: sans-serif;
  background-color: #333;
  color: #FFF;
}
body {
  margin: 0;
}
a {
  color: #FFF;
}

#entete {
  background: orangered;
  padding: 10px;
  text-align: right;
}
.inner {
  width: 980px;
  margin: auto;
}

#contenu h2 {
  padding: 20px;
  margin-top: 50px;
  background: #111;
  color: orangered;
}
#contenu strong {
  color: orangered;
}
#contenu table {
  border-collapse: collapse;
  margin: auto;
  border: 2px solid orangered;
}
#contenu td,
#contenu th {
  border: 1px solid black;
  padding: 10px;
}
#contenu th {
  background: orangered;
  color: #FFF;
}
#contenu form {
  width: 500px;
  margin: auto;
}
#contenu .input {
  color: #000;
  width: 500px;
  font-size: 1.2em;
  padding: 10px;
}
#contenu textarea {
  height: 160px;
}
#contenu .radio {
  margin: 0 50px 0 20px;
}
#contenu .submit {
  display: block;
  margin: auto;
  width: 250px;
  background: orangered;
  border: none;
  font-size: 1.2em;
  padding: 10px;
}
#footer {
  padding: 20px;
  text-align: center;
  background: #111;
}






