html {
  font: 1em Raleway, sans-serif;
  background: #333;
  color: #FFF;
}
#entete {
  position: relative;
  background: #222;
  color: #FFF;
  padding: 2em;
  box-shadow: 0 2px 2px rgba(0,0,0,.9);
}
#entete h1 {
  position: absolute;
  left: 0; right: 0; top: 30px;
  margin: auto;
  width: 100px;
  height: 0;
  padding-top: 100px;
  background: url('images/moi.png');
  overflow: hidden;
}

#menu {
  padding: 0;
  margin: 0;
  text-align: center;
}
#menu li {
  display: inline-block;
  width: 120px;
}
#milieu {
  margin-right: 100px;
}
#menu a {
  display: block;
  padding: .5em 1em;
  color: #FFF;
  text-decoration: none;
  text-align: center;
}
#menu a:hover,
#menu a:focus {
  background: #444;
}

#intro {
  font-size: 2.8em;
  color: #111;
  padding: 4em 1em;
  text-align: center;
  background-image: url('images/pattern-wood.png');
}



#intro {
  color: #FFF;
  background: url('images/pattern-mac.jpg') no-repeat center / cover;
}
#intro p {
  background: rgba(0,0,0,0.6);
  display: inline;
  padding: .2em .5em;
  line-height: 1.6;
}



#intro strong {
  color: orangered;
}

#corps {
  
}
#corps h2 {
  font-size: 1.8em;
  padding: 1em 0;
  color: #FFF;
}
#corps h2::before {
  content: '';
  position: absolute;
  margin-left: -50px;
  margin-top: -5px;
  width: 40px;
  height: 40px;
  background: url('images/moi.png');
  background-size: 100% 100%;
}
.partie {
  padding: 3em 0 6em;
}
.partie + .partie {
  border-top: 4px solid orangered;
}
.partie:first-child {
  border-top: 6px solid orangered;
  box-shadow: 0 -2px 2px rgba(0,0,0,.3);
}
.partie:nth-child(2) {
  background: #000;
}
.partie-inner {
  width: 900px;
  margin: auto;
}

#galerie {
  overflow: hidden;
}
#galerie li {
  display: block;
  float: left;
  margin: 5px;
}

form {
  width: 500px;
  padding: 20px;
  margin: auto;
  background: #444;
}
label,
input,
textarea {
  display: block;
  margin: 1em;
  font-size: 1.2em;
}
input,
textarea {
  width: 440px;
  color: #000;
  padding: 10px;
  border: 1px solid #111;
}
#inputSubmit {
  margin: auto;
  width: auto;
  background: orangered;
  color: #FFF;
}

#footer {
  padding: 2em;
  color: #aaa;
  font-size: .8em;
  text-align: center;
  background: #111;
}