html {
  font-family: sans-serif;
  background-color: #333;
  color: #FFF;
}
a {
  color: #FFF;
}

#entete {
  background: orangered;
  padding: 20px;
}
.inner {
  width: 980px;
  margin: auto;
}
#entete .inner {
  text-align: right;
}

#contenu h2 {
  background: #111;
  color: orangered;
}
#contenu strong {
  color: orangered;
}

#footer {
  background: #111;
  padding: 20px;
  text-align: center;
}