section
  h2 Vincent De Oliveira
  ul
    li.fragment Formateur web 
      a(href='http://ensg.eu') ENSG Géomatique
    li.fragment Intégration web, CSS, design d'interface, JavaScript, etc.

section
  h2 Sur le web
  ul
    li.fragment Twitter: 
      a(href='http://twitter.com/iamvdo') @iamvdo
    li.fragment Blog perso: 
      a(href='http://iamvdo.me') iamvdo.me
      ul
        li.fragment Intégration web, CSS, productivité, etc.
    li.fragment Tutoriels CSS3: 
      a(href='http://css3create.com') CSS3Create.com
    li.fragment Outil CSS: 
      a(href='http://prefixmycss.com'): strike PrefixMyCSS
      |, 
      a(href='http://pleeease.io') Pleeease

section
  h2 Sur papier
  ul
    li.fragment Livre 
      a(href='http://livre-css3.fr') CSS3 Le design web moderne