.social {
  margin: 100px;
  text-align: center;
  color: #FFF;
  text-shadow: 0 2px 2px rgba(0,0,0,.7);
}
.social-item {
  display: inline-block;
  width: 300px;
  font-family: Allura, cursive;
  font-size: 3em;
  font-weight: bold;
}
.social-item-icon {
  margin-right: .4em;
  vertical-align: middle;
}
.fa-share {
  color: deepskyblue;
}
.fa-retweet {
  color: yellowgreen;
}
.fa-star {
  color: orangered;
}