@font-face {
font-family: 'LigatureSymbols';
src: url('font/LigatureSymbols-2.11.eot');
src: url('font/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
     url('font/LigatureSymbols-2.11.woff') format('woff'),
     url('font/LigatureSymbols-2.11.ttf') format('truetype'),
     url('font/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
src: url('font/LigatureSymbols-2.11.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
html{
	height: 430px;
}
.shader{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 400px;
	height: 400px;
}
.body--center{
	text-align: center;
}
.shader-back{
	background: rgba(255,255,255,.05);
	position: absolute;
	top: 65px; left: 65px;
	width: 290px; height: 290px;
	
	-webkit-transform: translateZ(-300px);
	        transform: translateZ(-300px);
}
.light .shader-back{
	background: rgba(0,0,0,.05);
}
.light .shader-back--social > div a{
	color: #333;
	text-shadow: 0 -1px 0 rgba(255,255,255,.5);
}
.shader-back--social{
	display: -webkit-flex;
	display:         flex;
	-webkit-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: flex-end;
	        align-items: flex-end;
}
.shader-back--social > div{
	width: 55px;
	-webkit-flex: 1;
	        flex: 1;
	text-align: center;
	display: -webkit-flex;
	display:         flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
}
.shader-back--social > div a{
	-webkit-flex: 1;
	        flex: 1; 
	font: 2em 'LigatureSymbols';
	color: gainsboro;
	text-decoration: none;
	-webkit-font-feature-settings: "liga" 1, "dlig" 1;
	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga" 1, "dlig" 1;
	-o-font-feature-settings: "liga" 1, "dlig" 1;
	font-feature-settings: "liga" 1, "dlig" 1;

	text-shadow: 0 1px 2px rgba(0,0,0,1);
}
.shader-effect{
	width: inherit;
	height: inherit;
	-webkit-transition: all .6s ease;
	        transition: all .6s ease;
}
.shader-effect--curl{
	-webkit-filter: custom(url(curl.vert) mix(url(curl.frag) normal source-atop),
		40 40,
		curlPosition 0 1, 
		curlDirection 200, 
		curlRadius 0.2,
		bleedFront 0,
		backColor  1 1 1 1,
		transform perspective(600px) translateZ(-260px) ) drop-shadow(0 0 1px rgba(0,0,0,.5)); 
}
.shader-effect--curl:hover,
.shader-effect--active.shader-effect--curl{
	-webkit-filter: custom(url(curl.vert) mix(url(curl.frag) normal source-atop),
		40 40,
		curlPosition 0 0, 
		curlDirection 93, 
		curlRadius 0.25,
		bleedFront 0.1,
		transform perspective(600px) translateZ(-260px) ) drop-shadow(0 0 5px rgba(0,0,0,.5)); 
}
.shader-effect--wave{
	-webkit-transition-duration: 1.2s;
	        transition-duration: 1.2s;
	-webkit-filter: custom(url(wobble.vert) mix(url(wobble.frag) normal source-atop),
		40 40,
		amplitude 0,
		amount 0,
		angle 0,
		transform perspective(600px) scale(.8) ) drop-shadow(0 0 1px rgba(0,0,0,.5));
}
.shader-effect--wave:hover,
.shader-effect--active.shader-effect--wave{
	-webkit-filter: custom(url(wobble.vert) mix(url(wobble.frag) normal source-atop),
		40 40,
		amplitude 0,
		amount 1.0,
		angle 60,
		transform perspective(600px) scale(.8) ) drop-shadow(0 50px 50px rgba(0,0,0,.5));

}
.shader-effect--curl img{
	border: 10px solid white;
}
.shader-effect--curl iframe{
	width: 420px !important;
	height: 420px !important;
	max-width: none !important;
	margin: 0 !important;
	background: white;
}