section
  h1 Positionnement CSS

section
  h2 Propriétés
  ul
    li.fragment 3 propriétés différentes
    li.fragment Beaucoup de valeurs!

section
  h2 Flux
  ul
    li.fragment Façon dont les éléments d'affichent dans la page
    li.fragment Ordre des éléments du code source

section.language-css
  h2: code display
  ul
    li.fragment Chaque boite a un affichage par défaut
    li.fragment Possible de modifier le comportement de chaque boite
  ul
    li.fragment
      code display: block
      |  convertit un élément en block
    li.fragment
      code display: inline
      |  convertit un élément en inline
    li.fragment
      code display: none
      |  masque un élément

section
  h2 Inline en block
  ul
    li.fragment Un élément inline peut devenir un block
    li.fragment Suit le modèle de boite block:
      ul
        li.fragment Largeur, hauteur, marges internes et externes

section.language-css
  h2 Hybride
  ul
    li.fragment
      code display: inline-block
    li.fragment Entre les deux modes
    li.fragment Élément inline
      ul
        li.fragment Ne crée pas de nouveau bloc autonome
        li.fragment S'affiche sur la même ligne
    li.fragment Élément block
      ul
        li.fragment Suit le modèle de boite block (taille, marges)
    li.fragment Alignement vertical entre les éléments frères

section.language-css
  h2: code float
  ul
    li.fragment Positionnement flottant
    li.fragment Sort l'élément du flux (mais conserve sa place)
    li.fragment Pas prévu pour faire du positionnement à la base
    li.fragment Un des plus utilisés!
    li.fragment 2 valeurs: 
      code left
      |  ou 
      code right

section
  h2 Flottant
  ul
    li.fragment Lorsqu'un élément est flottant,
    li.fragment l'élément suivant prend la place disponible sur le coté inverse au float.
    li.fragment Si la place restante est disponible

section
  h2 Problèmes
  ul
    li.fragment Un élément dont tous les enfants sont flottants à une hauteur de 0
    li.fragment Pour annuler l'effet du float, propriété 
      code clear

section.language-css
  h2: code position
  ul
    li.fragment Modifie le flux de la page
    li.fragment Permet de créer des calques
    li.fragment 4 valeurs: 
      code static
      |, 
      code absolute
      |, 
      code relative
      |  ou 
      code fixed
    li.fragment Positionné avec 4 propriétés:
     ul
      li.fragment
        code top
        |, 
        code bottom
        |, 
        code left
        |  et 
        code right

section
  h2: code static
  ul
    li.fragment Valeur par défaut de tous les éléments
    li.fragment Ne modifie pas le flux

section
  h2: code absolute
  ul
    li.fragment Sort l'élément de la page
    li.fragment Positionné sur son propre calque
    li.fragment Superpose les autres éléments
  ul
    li.fragment Positionné par rapport à la fenêtre
    li.fragment Ou, au premier élément parent en relative

section
  h2: code fixed
  ul
    li.fragment Identique absolute
    li.fragment Mais l'élement est fixe pendant le scroll

section
  h2: code relative
  ul
    li.fragment Ne sort pas l'élément du flux
    li.fragment Permet de définir les limites des éléments inclus en 
      code position: absolute 

section.language-css
  h2 Ordre d'affichage
  ul
    li.fragment Propriété 
      code z-index
    li.fragment Gérer les superpositions des éléments positionnés
  pre.fragment
    code.
      .element {
        position: absolute;
        top: 0; right: 0;
        z-index: 5;
      }








































