section
  h1 Positionnement CSS

section
  h2 Propriétés
  ul
    li.fragment 3 propriétés différentes
    li.fragment Beaucoup de valeurs!

section
  h2: code display
  ul
    li.fragment Chaque boite a un affichage par défaut
    li.fragment Possible de modifier le comportement de chaque boite
  ul
    li.fragment
      code display: block
      |  convertit un élément en block
    li.fragment
      code display: inline
      |  convertit un élément en inline
    li.fragment
      code display: none
      |  masque un élément

section
  h2 Inline en block
  ul
    li.fragment Un élément inline peut devenir un block
    li.fragment Suit le modèle de boite block:
      ul
        li.fragment Largeur, hauteur, marges internes et externes

section
  h2 Hybride
  ul
    li.fragment
      code display: inline-block
    li.fragment Entre les deux modes
    li.fragment Élément inline
      ul
        li.fragment Ne crée pas de nouveau bloc autonome
        li.fragment S'affiche sur la même ligne
    li.fragment Élément block
      ul
        li.fragment Suit le modèle de boite block (taille, marges)
    li.fragment Alignement vertical entre les éléments frères
