section
  h1 CSS

section
  h2 CSS?
  ul
    li.fragment Cascading Style Sheets
    li.fragment Feuilles de styles en cascade

section
  h2 Concept
  ul
    li.fragment Mettre en forme les données
    li.fragment Séparation contenu / mise en forme
    li.fragment Permettre l'accessibilité
    li.fragment 
      a(href='http://www.csszengarden.com') CSS Zen Garden

section
  h2 CSS
  ul
    li.fragment Fichier texte
    li.fragment Extension 
      code .css
    li.fragment Langage statique

section
  h2 Standard
  ul
    li.fragment Respect des normes
    li.fragment
      a(href="http://w3.org") W3C
    li.fragment Plusieurs versions du standard CSS (
      a(href="http://www.w3.org/TR/CSS1/") CSS1
      |,  
      a(href="http://www.w3.org/TR/CSS2/") CSS2.1
      |,  
      a(href="http://www.w3.org/Style/CSS/current-work") CSS3
    li.fragment Contrairement au HTML, pas de différence de syntaxe

section
  h2 Ajoutez du CSS
  ul
    li.fragment Précisez dans le HTML
    li.fragment 3 méthodes:
      ul
        li.fragment Feuille de style externe
        li.fragment Inclus dans <code>&lt;head></code> HTML
        li.fragment Inclus dans l'élément

section.language-markup
  h2 Feuille de style externe
  ul
    li.fragment Méthode privilégiée
    li.fragment Données bien séparées
  pre.fragment
    code.
      &lt;!-- XHTML1 -->
      &lt;link rel="stylesheet" type="text/css" href="styles.css" />
      &lt;!-- HTML5 -->
      &lt;link rel="stylesheet" href="styles.css">

section.language-markup
  h2 Inclus dans <code>&lt;head></code>
  pre.fragment
    code.
      &lt;!-- XHTML1 -->
      &lt;style type="text/css">
      /* CSS */
      &lt;/style>
      &lt;!-- HTML5 -->
      &lt;style>
      /* CSS */
      &lt;/style>
      
section.language-markup
  h2 Inclus dans l'élément
  ul
    li.fragment Pas conseillé
    li.fragment Perte de la séparation de contenu
    li.fragment Style pour un seul élément
    li.fragment Utile pour styles dynamiques
  pre.fragment
    code.
      &lt;p style="/* CSS */">Texte&lt;/p>
  p



















//- Décomposition d'un style
section.language-css

  section
    h1 Décomposition d'un style

  section
    h2 Sélecteurs
    ul
      li.fragment Désignent le (les) élément(s) où s'appliquent le style

  section
    h2 Les déclarations (règles)
    ul
      li.fragment Entre <code>{</code> et <code>}</code>
      li.fragment Chaque déclaration:
        ul
          li.fragment Une propriété
          li.fragment Le caractère <code>:</code>
          li.fragment Une valeur
          li.fragment Le caractère <code>;</code>

  section
    h2 Les commentaires
    ul
      li.fragment Débutent par <code>/*</code>
      li.fragment Terminent par <code>*/</code>

  section
    h2 Et donc
    pre.fragment
      code.
        /* styles pour les paragraphes */
        p {
          font-family: Arial;
          color: blue;
        }

  section
    h2 Héritage et cascade
    ul
      li.fragment Certains styles appliqués à un élément s'héritent sur ses enfants (éléments contenus)
    pre.fragment
      code.
        html {
          font-family: Arial;
        }
    ul
      li.fragment Priorité des styles CSS
    pre.fragment
      code.
        h2 {
          font-family: Verdana;
        }





















//- Bonnes pratiques
section.language-css

  section
    h1 Bonnes pratiques

  section
    h2 Reset
    ul
      li.fragment
        a(href="http://meyerweb.com/eric/tools/css/reset/") Reset
      li.fragment
        a(href="http://necolas.github.io/normalize.css/") Normalisation






















