section
  h1 CSS3

section
  h2 CSS3 n'existe pas!
  ul
    li C'est la suite logique au langage CSS, le langage des feuilles de styles.
  h3 CSS1
  ul
    li Recommandation en 1996
    li Sélecteurs simples, positionnements basiques, tailles, marges, couleurs, polices, etc.

section
  h2 CSS3 n'existe pas!
  h3 CSS2
  ul
    li Abandonnée en 1998
    li Trop de choses, trop complexes ou sous-spécifiées
    li Pseudo-classes dynamiques, pseudo-éléments, polices personnalisées, gestion des médias, ombres sur les textes, etc.
  h3 CSS2.1
  ul
    li Version "corrigée" de CSS2, ce qui a été retiré est mis à l'étude dans CSS3
    li Recommandation en juin 2011

section
  h2 CSS3 n'existe pas!
  h3 CSS3
  ul
    li En cours depuis 1999
    li Standard fragmenté en modules
    li 5 modules en Recommandation, une trentaine à l'étude
  h3 CSS4
  ul
    li Ne verra jamais le jour

section
  h2 Les modules
  ul
    li Les sélecteurs
    li Les couleurs
    li Les unités
    li Les animations
    li Les transformations
    li etc.

section
  h2 Démocratisation de CSS3
  p Pourquoi entends t'on beaucoup parler de CSS3?
  ul
    li Meilleur ami de HTML5
    li Sélecteurs étoffés
    li Effets graphiques simplifiés: opacité, angles arrondis, ombres, dégradés, polices personnalisées, etc. (maintenance++)
    li Accès à ce qui était réservé avant à JavaScript (interaction, animation, etc.)
    li Nouveaux modes de positionnement
    li Support amélioré de CSS2.1 par les navigateurs
      ul
        li Fin de IE6, IE7, IE8

section.language-css

  section
    h1 Mettre en place CSS3

  section
    h2 Utiliser CSS3?
    p Oui!
      strong Mais comment?
    ul
      li Connaitre l'état d'avancement des modules, des propriétés
        ul
          li Stable, brouillon, ...
      li Un site: 
        a(href="http://caniuse.com") caniuse.com
        ul
          li Et aussi: 
            a(href="http://css3test.com") css3test.com
      li Conserver la 
        strong dégradation gracieuse
      li Mettre en place l'
        strong amélioration progressive

  section
    h2 Dégradation gracieuse / Amélioration progressive
    ul
      li Plus ou moins la même chose
      li La 
        strong dégradation gracieuse
        |, c'est prévoir des solutions de recours pour des navigateurs anciens
      li L'
        strong amélioration progressive
        |, c'est mettre en place des solutions pour les navigateurs récents, sans altérer le rendu sur navigateurs anciens
    ul
      li Pas forcément pour un résultat identique

  section
    h2 Dégradation gracieuse / Amélioration progressive
    ul
      li Pour cela:
        ul
          li Ne rien faire
          li Utilisation de styles alternatifs, via la cascade CSS.
          li Utilisation des préfixes
          li Détection de fonctionnalités (CSS ou JavaScript)

  section
    h2 1. Ne rien faire
    ul
      li Par exemple, mettre en place les coins arrondis
    pre
      code.
        .e {
          border-radius: 20px;
        }
    ul
      li Pas de bords arrondis sur les 
        a(href='http://caniuse.com/#feat=border-radius') anciens navigateurs
        |  (mais c'est pas grave)

  section
    h2 2. Styles alternatifs
    ul
      li Par exemple, 
        code rgba
        |  pour la transparence
    pre
      code.
        .e {
          background: rgba(0, 0, 0, .5);
        }
    ul
      li devient:
    pre
      code.
        .e {
          background: #000;
          background: rgba(0, 0, 0, .5);
        }

  section
    h2 3. Utilisation des préfixes
    ul
      li Compatibilité entre navigateurs
      li De moins en moins le cas (politique différente)
      li Utilisation facilitée par des outils
    ul
      li Par exemple, Android &lt;3 supporte les ombres, mais avec la propriété préfixée
    pre
      code.
        .e {
          -webkit-box-shadow: 0 0 5px green;
                  box-shadow: 0 0 5px green;
        }

  section
    h2 4. Détection de fonctionnalités
    ul
      li CSS: utilisation de 
        code @supports
      li JS: utilisation d'outil comme 
        a(href='http://modernizr.com') Modernizr
    ul
      li Par exemple, ajout d'une bordure si le navigateur ne supporte pas les ombres.
    pre
      code.
        .e {
          -webkit-box-shadow: 0 0 5px green;
                  box-shadow: 0 0 5px green;
        }
        @supports not (box-shadow: none) {
          .e {
            border: 1px solid green;
          }
        }
    p





















//- Sélecteurs CSS

section.language-css

  section
    h1 Les sélecteurs avancés

  section
    h2 Les sélecteurs CSS1, 2.1 et 3
    ul
      li Plus de 40 sélecteurs
        ul
          li Sélecteur de descendants (
            code E F
            |), d'enfants (
            code E>F
            |)
          li Sélecteur de frères suivants (
            code E+F
            |, 
            code E~F
            |)
          li Sélecteur d'id (
            code E#id
            |) et de classe (
            code E.class
            |)
          li Pseudo-classes (
            code E:first-child
            |, 
            code E:last-child
            |, etc.)
          li Pseudo-classes dynamiques (
            code E:hover
            |, 
            code E:focus
            |, 
            code E:active
            |, etc.)
          li Pseudo-éléments (
            code E::first-letter
            |, 
            code E::after
            |, 
            code E::before
            |, etc.)
      li Notez la différence entre 
        code :
        |  et 
        code ::

  section
    h2 Les sélecteurs d'attributs
    ul
      li Cibler des éléments en fonction de leur attributs (et de leurs valeurs), mêmes les 
        em data-attributes
        |  de HTML5.
      li 
        code [attr]
        |, 
        code [attr=val]
        |, 
        code [attr~=val]
      li 
        code [attr^=abc]
        |: commençant par
      li 
        code [attr$=abc]
        |: finissant par
      li 
        code [attr*=abc]
        |: contient

  section
    h2 La pseudo-classe 
      code :nth-child()
    ul
      li Cible le n
        sup ième
        |  enfant d'un élément
        ul
          li 
            code :nth-child(3)
            |  cible le 3
            sup ème
            | enfant
          li 
            code :nth-child(an+b)
            |  ou a et b sont des entiers
      li Ex: 
        code :nth-child(3n+2), pour chaque valeur de n:
        ul
          li n=0, 3x0 + 2, total= 2
          li n=1, 3x1 + 2, total= 5
          li n=2, 3x2 + 2, total= 8
          li Les 2e, 5e et 8e enfants sont sélectionnés.

  section
    h2 La pseudo-classe 
      code :nth-child()
    ul
      li Se décline:
        ul
          li 
            code :nth-last-child()
          li 
            code :nth-of-type()
            |, 
            code :nth-last-of-type()

  section
    h2 La pseudo-classe 
      code :not()
    ul
      li
        code :not()
        |  permet de retirer un sélecteur simple:
        ul
          li 
            code div:not(.toto)
          li 
            code ul li a:not(:hover)
          li 
            code .toto:not(p)
          li 
            code a:not([href^=http])
      li Pas de sélecteurs avancés
        ul
          li
            code :not(div p)
            |  est invalide.

  section
    h2 Les pseudo-classes de formulaires
    ul
      li
        code :valid
        |, 
        code :invalid
        |, 
        code :required
      li
        code :enabled
        |, 
        code :disabled
      li
        code :checked

  section
    h2 Les pseudo-éléments de formulaires
    ul
      li Aie!
      li
        a(href='http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls') Liste complète
      li Accéder au Shadow DOM

  section
    h2 Support
    ul
      li À partir d'IE8 (sélecteurs d'attributs) et IE9 (autres sélecteurs)




















//- CSS3 FTW
//- Effets graphiques

section.language-css

  section
    h1 CSS3 FTW (effets graphiques, dégradés, font-face)

  section
    h2 Arrière-plans multiples
    pre
      code.
        .e {
          background: url(img.png), url(img2.png);
        }
    ul
      li Plusieurs images séparées par une virgule:
        ul
          li La première image est au dessus
          li Les images suivantes sont affichées en dessous
      li Nécessité de transparence dans les images

  section
    h2 Rogner l'arrière-plan
    pre
      code.
        .e {
          background-clip: content-box;
        }
    ul
      li Rogne une image d'arrière-plan:
        ul
          li
            code border-box
            |: limite de bordure (valeur par défaut)
          li
            code padding-box
            |: limite des marges internes
          li
            code content-box
            |: limite du contenu

  section
    h2 Origine de l'arrière-plan
    pre.large
      code.
        .e {
          background-origin: content-box;
        }
    ul
      li Définit l'origine d'une image d'arrière-plan:
        ul
          li
            code border-box
            |: limite de bordure (valeur par défaut)
          li
            code padding-box
            |: limite des marges internes
          li
            code content-box
            |: limite du contenu
      li
        code background-position
        |  est calculé par rapport à cette origine

  section
    h2 Taille de l'arrière-plan
    pre
      code.
        .e {
          background-size: 100%;
        }
    ul
      li Définit la taille d'une image d'arrière-plan
      li Valeur 
        code auto
        |  par défaut
      li 2 mots-clés: 
        code cover
        |  et 
        code contain
    ul
      li Attention à la pixellisation
      li Préférez SVG à PNG

  section
    h2 SVG vs PNG
    ul
      li Format vectoriel (SVG) vs format bitmap (PNG, JPG, GIF)
      li Bitmap:
        ul
          li Composé de pixels
          li Redimensionnement difficile
      li Vectoriel:
        ul
          li Construit à partir de formes géométriques
          li Attributs de tailles, de position, de couleurs, etc.
          li Redimensionnement facilité, réutilisable par morceaux (format XML), stylable par CSS, etc.

  section
    h2 Les coins arrondis
    pre
      code.
        .e {
          border-radius: 2px;
        }
    ul
      li Crée des angles arrondis
      li La contenu est masqué par les arrondis

  section
    h2 Utilisation
    ul
      li 1 valeur:
        ul
          li les 4 arrondis sont identiques
          li ex: 
            code border-radius: 2px;
      li 2 valeurs:
        ul
          li la première pour l'angle NW et l'angle SE
          li la seconde pour l'angle NE et l'angle SW
          li ex: 
            code border-radius: 2px 5px;
      li 4 valeurs:
        ul
          li chaque angle a son propre arrondi
          li ex: 
            code border-radius: 2px 0 5px 10px;

  section
    h2 Utilisation
    ul
      li Également des propriétés dédiées:
        ul
          li
            code border-top-left-radius
          li
            code border-top-right-radius
          li
            code border-bottom-right-radius
          li
            code border-bottom-left-radius

  section
    h2 Pourcentages
    ul
      li Accepte les pourcentages (par rapport à la boite elle-même)
      li
        code border-radius: 50% 
        |  crée une ellipse. Un rond si la largeur est égale à la hauteur.

  section
    h2 Deux valeurs par angles
    ul
      li Possible de définir des courbes elliptiques, avec deux valeurs, X et Y
      li Séparer les valeurs par un slash
      li Ex: 
        code border-radius: 80px / 40px
    +img2('borderRadius.png')
    ul
      li Possible de combiner. Ex: 
        code border-radius: 20px 100px / 100px 20px

  section
    h2 Les ombres sur textes
    pre
      code.
        .e {
          text-shadow: 2px 2px 5px black;
        }
    ul
      li Ajoute une ou plusieurs ombres sur le texte
    h3 Utilisation
    ul
      li 4 valeurs:
        ul
          li Décalage vers la droite
          li Décalage vers le bas
          li Valeur du flou
          li Couleur de l'ombre

  section
    h2 Les ombres sur boites
    pre
      code.
        .e {
          box-shadow: 2px 2px 5px (5px) black (inset);
        }
    ul
      li Ajoute une ou plusieurs ombres sur une boite
    h3 Utilisation
    ul
      li 4 valeurs:
        ul
          li Décalage vers la droite
          li Décalage vers le bas
          li Valeur du flou
          li Couleur de l'ombre
      li 2 options:
        ul
          li Ombre interne avec code inset
          li Agrandissement / réduction de l'ombre

  section
    h2 L'opacité
    pre
      code.
        .e {
          opacity:0.5;
        }
    ul
      li Rends un élément transparent (et tous ses enfants)
      li Valeur entre 0 et 1:
        ul
          li 0 rend invisible
          li 1 rend visible

  section
    h2 Les fonctions de couleur
    pre
      code.
        .e {
          background: rgba(235, 162, 53, .5);
        }
    ul
      li Fonction 
        code rgba 
        | pour red, green, blue, alpha
      li Applique une couleur RVB avec transparence
      li Extension de 
        code rgb(r,v,b)

  section
    h2 Les couleurs HSL
    pre
      code.
        .e {
          background: hsl(60, 100%, 50%);
        }
    ul
      li Modèle HSL pour hue, saturation, lightness (Teinte, Saturation, Luminance)
      li Beaucoup plus parlant que RVB
        ul
          li
            strong Teinte
            |: valeur sur le cercle chromatique de 0 (rouge) à 360 (rouge). À 60: Jaune, à 120: Vert, à 180: Cyan, à 240: Bleu, à 300: Magenta.
          li
            strong Saturation
            |: valeur de 0 à 100%
          li
            strong Luminance
            |: valeur de 0 (entièrement noir) à 100% (entièrement blanc). 50% correspond à la teinte de base

  section
    h2 Les couleurs HSL
    ul
      li Représentation possible:
    +img2('hsl.jpg')

  section
    h2 Les couleurs HSL
    ul
      li Jaune:
        ul
          li
            code hsl(60, 100%, 50%)
      li Plus foncé:
        ul
          li
            code hsl(60, 100%, 
              strong(style="color: deepskyblue") 30%
              |)
      li Plus clair
        ul
          li
            code hsl(60, 100%, 
              strong(style="color: deepskyblue") 70%
              |)
      li Couleur complémentaire (+180°)
        ul
          li
            code hsl(
              strong(style="color: deepskyblue") 240
              |, 100%, 50%)
    ul
      li Déclinaison avec transparence 
        code hsla()

  section
    h2 Les dégradés CSS
    ul
      li Création d'images à la volée
      li S'utilise avec les propriétés d'images
        ul
          li
            code background-image
            |, 
            code list-style-image
            |, etc.
      li 2 types de dégradés: linéaires et radiaux

  section
    h2 Dégradés linéaires
    pre
      code.
        .e {
          background: linear-gradient(to left, red, green);
        }
    ul
      li Crée un dégradé linéaire
      li 3 valeurs:
        ul
          li La direction avec le mot-clé 
            code to
            |  (optionnelle, 
            code to bottom
            |  par défaut)
          li Couleur de départ
          li Couleur de fin
      li Nombre de couleurs illimité
      li Positionnement des color-stops automatiques/manuels

  section
    h2 Les color-stops
    ul
      li Les couleurs du dégradé
      li Automatiques
        ul
          li 
            code linear-gradient(red, green, blue)
          li red à 0%, green à 50% et blue à 100%
      li Manuels
        ul
          li 
            code linear-gradient(red 20%, green 30%, blue)
          li red à 20%, green à 30% et blue à 100%

  section
    h2 Dégradés radiaux
    pre
      code.
        .e {
          background: radial-gradient(closest-side at 20% 20%, red, green);
        }
    ul
      li Crée un dégradé radial
      li 3 valeurs:
        ul
          li La taille et position (optionnelle, code farthest-corner at center par défaut)
          li Couleur de départ
          li Couleur de fin
      li Gestion des couleurs identiques aux dégradés linéaires


  section
    h2 La taille
    ul
      li Unités classiques:
        ul
          li Ex: 
            code radial-gradient(200px, red, green)
      li Mots-clés
        ul
          li
            code closest-side
            |: jusqu'au plus proche côté
          li
            code farthest-side
            |: jusqu'au plus lointain côté
          li
            code closest-corner
            |: jusqu'au plus proche angle
          li
            code farthest-corner
            |: jusqu'au plus lointain angle
          li Ex: 
            code radial-gradient(closest-side, red, green)
      li Forme
        ul
          li 
            code circle
            |: crée un cercle
          li 
            code ellipse
            |: crée une ellipse
          li Ex: 
            code radial-gradient(circle closest-side, red, green)

  section
    h2 La position
    ul
      li Mot-clé 
        code at
      li Unités classiques de positionnement
        ul
          li Ex: 
            code radial-gradient(at 100px 100px, red, green)
    ul
      li Combiner les deux
        ul
          li Ex: 
            code radial-gradient(closest-corner at 100px 100px, red, green)




















//- Font-face

section.language-css

  section
    h1 @font-face

  section
    h2 Polices personnalisées
    ul
    pre
      code.
        @font-face {
          font-family: 'maPolice';
          src: 'maPolice.woff';
        }
        h1 {
          font-family: maPolice, sans-serif;
        }
    ul
      li
        a(href='http://caniuse.com/#search=font-face') Support

  section
    h2 Différents formats
    ul
      li WOFF, WOFF2
        ul
          li Conçu pour le web, très léger
      li TTF/OTF
        ul
          li Format historique, plus lourd
      li EOT
        ul
          li Internet Explorer 8
      li SVG
        ul
          li Tué dans l'oeuf

  section
    h2 Polices en ligne
    ul
      li Téléchargeable ou hébergée
      li
        a(href='https://www.google.com/fonts') Google Webfonts
      li
        a(href='http://www.fontsquirrel.com/') Font Squirrel
      li
        a(href='https://typekit.com/') Typekit
      li Et beaucoup d'autres
    ul
      li Renseignez-vous sur les licences




















//- Animations / Transitions

section.language-css

  section
    h1 Animations / Transitions

  section
    h2 Animez simplement: les transitions
    ul
      li C'est quoi une transition?
    ul
      li Animer une propriété 
        strong d'une valeur A à une valeur B
        ul
          li Par exemple de 
            code color: red
            |  à 
            code color: green
      li Effectuée lors d'un changement d'état
        ul
          li Pour cela, besoin d'un 
            strong déclencheur

  section
    h2 Déclencheurs
    ul
      li Utilisation de pseudo-classes (
        code :hover
        |, 
        code :focus
        |, etc.)
      li Modification via JavaScript (ajout de classes)
      li Chargement de la page (?)

  section
    h2 Utilisation
    pre
      code.
        .e {
          transition: width 1s;
        }
    ul
      li 5 propriétés:
        ul
          li
            code transition
            |: propriété raccourcie
          li
            code transition-property
            |: propriété à animer
          li
            code transition-duration
            |: durée de la transition
          li
            code transition-delay
            |: retardement de la transition
          li
            code transition-timing-function
            |: méthode d'interpolation

  section
    h2 Durée
    ul
      li Utilisation des unités CSS3 de temps
        ul
          li
            code s
            |: secondes
          li
            code ms
            |: millisecondes (1/1000e seconde)

  section
    h2 Transitions multiples
    ul
      li Séparer les déclarations par une virgule
      li Ou utilisez les propriétés longues
    pre
      code.
        .e {
          transition: width 1s, height 2s;
        }
        /* équivalent */
        .e {
          transition-property: width; height;
          transition-duration: 1s, 2s;
        }

  section
    h2 Méthodes d'interpolation
    ul
      li Contrôle de la vitesse de l'animation dans le temps
      li Propriété 
        code transition-timing-function


  section
    h2 Méthodes d'interpolation
    +img2('trTimingFn.png')
    ul
      li 5 méthodes:
        ul
          li
            code linear
            |: linéaire
          li
            code ease
            |: départ rapide, arrivée lente (défaut)
          li
            code ease-in
            |: départ lent
          li
            code ease-out
            |: arrivée lente
          li
            code ease-in-out
            |: départ lent, arrivée lente

  section
    h2 Interpolation avancée
    ul
      li La fonction 
        code cubic-bezier()
      li Définit une courbe de Bézier avec 2 points
    ul
      li
        code cubic-bezier(p1x, p1y, p2x, p2y)
    ul
      li Part obligatoirement de 
        code (0, 0)
        |  et arrive en 
        code (1, 1)

  section
    h2 Interpolation avancée
    +img2('trCubic.png')
    ul
      li Aide: 
        a(href="http://cubic-bezier.com") cubic-bezier.com
  
  section
    h2 Animez plusieurs états: les animations
    ul
      li C'est quoi une animation?
    
    ul
      li Plusieurs transitions qui s'enchainent
      li Animer une propriété 
        strong d'une valeur A à une valeur B, puis de B à C, ...
        ul
          li Par exemple de 
            code color: red
            |  à 
            code color: green
            |  puis vers 
            code color: blue
      li Chaque transition est définie sour forme d'étapes
      li 2 actions nécessaires
        ul
          li Création des étapes-clés
          li Utilisation de l'animation créée

  section
    h2 Création des étapes-clés
    pre
      code.
        @keyframes nomAnim {
          from {color: red}
          40%  {color: green}
          to   {color: blue}
        }
    ul
      li Définit 3 étapes, soit 2 transitions:
        ul
          li de 0 à 40%: de 
            code color: red
            |  à 
            code color: green
          li de 40% à 100%: de 
            code color: green
            |  à 
            code color: blue
      li Revient à l'état initial une fois l'animation terminée

  section
    h2 Utilisation
    pre
      code.
        .e {
          animation: nomAnim 2s ease 5;
        }
    ul
      li 6 propriétés:
        ul
          li
            code animation
            |: propriété raccourcie
          li
            code animation-name
            |: nom de l'animation utilisée
          li
            code animation-duration
            |: durée de l'animation
          li
            code animation-delay
            |: retardement de l'animation
          li
            code animation-timing-function
            |: méthode d'interpolation
          li
            code animation-iteration-count
            |: nombre de répétition

  section
    h2 Répéter une animation
    pre
      code.
        .e {
          animation-iteration-count: infinite;
        }
    ul
      li Le mot-clé 
        code infinite
        |  permet de répéter une animation en boucle


  section
    h2 Modifier le sens de l'animation
    pre
      code.
        .e {
          animation-direction: normal | alternate;
        }
    ul
      li Permet de gérer le sens dans lequel est jouée l'animation
        ul
          li
            code normal
            |: l'animation est jouée dans le sens normal
          li
            code alternate
            |: l'animation est jouée une fois sur deux en sens inverse
          li
            code reverse
            |: l'animation est jouée en sens inverse
      li Pratique pour reproduire une animation inverse, sans définir de nouvelles étapes clés

  section
    h2 Avant et après une animation
    pre
      code.
        .e {
          animation-fill-mode: backwards | forwards | both;
        }
    ul
      li Permet de gérer l'état d'une animation:
        ul
          li avant le début de celle-ci
          li après la fin de celle-ci
      li Par défaut, l'animation est jouée et l'état initial de l'élément est appliqué




















//- Transformations

section.language-css

  section
    h1 Transformations

  section
    h2 Transformez facilement les éléments d’une page
    ul
      li C'est quoi une transformation?
    ul
      li Appliquer des fonctions de modification
        ul
          li Par exemple des rotations, des translations, des mises à l'échelle, des inclinaisons, etc.
      li 2 types de transformations
        ul
          li 2D et 3D

  section
    h2 Utilisation de la 2D
    pre
      code.
        .e {
          transform: rotate(45deg) translateX(50px);
        }
    ul
      li Propriété 
        code transform
      li Ici: rotation de 45 degrés, translation X de 50px
    ul
      li 2 axes de transformation:
        ul
          li X: de la gauche vers la droite
          li Y: du haut vers le bas

  section
    h2 Les fonctions de transformations
    ul
      li Translations:
        ul
          li
            code translate(x, y)
            |, 
            code translateX()
            |, 
            code translateY()
      li Rotation:
        ul
          li
            code rotate()
      li Mises à l'échelle:
        ul
          li
            code scale(x, y)
            |, 
            code scaleX()
            |, 
            code scaleY()
      li Inclinaisons:
        ul
          li
            code skewX()
            |, 
            code skewY()
      li Matrices:
        ul
          li
            code matrix()

  section
    h2 Utilisation de la 3D
    pre
      code.
        .e {
          transform: rotateX(45deg) translateZ(50deg);
        }
    ul
      li Idem que pour la 2D
      li Propriété 
        code transform
    ul
      li Nouvel axe de transformation Z:
        ul
          li positif vers l'utilisateur
          li négatif vers le fond de l'écran

  section
    h2 Les fonctions de transformations 3D
    ul
      li Translations:
        ul
          li
            code translateZ()
            |, 
            code translate3d(x, y, z)
      li Rotation:
        ul
          li
            code rotateX()
            |, 
            code rotateY()
            |, 
            code rotateZ()
            |, 
            code rotate3d(x, y, z, angle)
      li Mises à l'échelle:
        ul
          li
            code scaleZ()
            |, 
            code scale3d(x, y, z)
      li Matrices:
        ul
          li
            code matrix3d()

  section
    h2 Notion de perspective 3D
    pre
      code.
        .e {
          perspective: 500px;
        }
    ul
      li Permet le rendu de la scène 3D
        ul
          li A utiliser sur un parent
      li Petite perspective = proche de l'écran = forte impression 3D
      li Grande perspective = loin de l'écran = faible impression 3D
    ul
      li Sans perspective, aucun effet 3D!

  section
    h2 Transformations en cascade
    pre
      code.
        .e {
          transform-style: preserve-3d;
        }
    ul
      li Force la propagation de la 3D
      li La valeur par défaut est 
        code flat
    ul
      li Corrige également quelques problèmes dans l'ordre d'apparition des éléments
      li Non supporté par IE11 (en cours)

  section
    h2 Containing block
    ul
      li Contient ses enfants
      li Pas obligatoirement le parent
    
    ul
      li Une valeur autre que 
        code none
        |  pour 
        code transform
        |  crée un containing block

  section
    h2 Stacking context
    ul
      li Le 
        code z-index
        |  est limité à son contexte
    ul
      li Une valeur autre que 
        code none
        |  pour 
        code transform
         crée un stacking context




















//- Positionnement
section.language-css

  section
    h1 Positionnement

  section
    h2 Le modèle de boite
    ul
      li Le box model en CSS2.1
        ul
          li <code>width</code> est la largeur du contenu
          li largeur totale = <code>width</code> + <code>padding</code> + <code>border</code>
    +img('modeleBoite.jpg')

  section
    h2 Le modèle de boite, en mieux!
    ul
      li <code>box-sizing</code> modifie le calcul du modèle de boite
        ul
          li <code>box-sizing: content-box</code>: modèle CSS2.1
          li <code>box-sizing: border-box</code>: modèle CSS3
      li <code>width</code> devient la largeur totale
    +img('boxsizing.jpg')

  section
    h2 Le modèle de boite, en mieux!
    ul
      li Préconisé de toujours utiliser ce mode:
    pre
      code.
        *,
        *:before,
        *:after {
          box-sizing: border-box;
        }

  section
    h2 Support box-sizing
    ul
      li IE8+
      li Firefox &lt;= 28 avec préfixe <code>-moz-</code>
      li Android &lt;= 3 avec préfixe <code>-webkit-</code>

  section
    h2 Les différentes «méthodes»
    ul
      li La propriété <code>display</code>
        ul
          li <code>block</code>, <code>inline</code>, <code>list-item</code>
          li <code>inline-block</code>
          li <code>table</code>, <code>table-row</code>, <code>table-cell</code>...
      li La propriété <code>float</code>
        ul
          li <code>left</code>, <code>right</code>
      li La propriété <code>position</code>
        ul
          li <code>relative</code>, <code>absolute</code>, <code>fixed</code>, <code>sticky</code>

  section
    h2: code display: inline-block
    ul
      li Mode «hybride»
      li Éléments en ligne, mais conserve les propriétés de block (dimensionnement, marges, etc.)
      li Alignables entre eux avec <code>vertical-align</code>

  section
    h2: code display: table
    ul
      li Mode tabulaire
        ul
          li <code>display: table</code> simule un tableau (<code>&lt;table></code>)
          li <code>display: table-row</code> simule une ligne de tableau (<code>&lt;tr></code>)
          li <code>display: table-cell</code> simule une cellule de tableau (<code>&lt;td></code>)
      li Toute la structure n'est pas obligatoire (création d'éléments anonymes)
      li <code>table-layout</code> modifie le calcul d'affichage du tableau
        ul
          li <code>auto</code> la taille du tableau s'adapte au contenu
          li <code>fixed</code> le contenu s'adapte à la taille du tableau

  section
    h2 Les plus de display: table
    ul
      li Pas de sortie de flux
      li Éléments frères de même hauteur
      li Largeur étirable dans le tableau
      li Alignement vertical du contenu avec <code>vertical-align</code>

  section
    h2 Les moins de display: table
    ul
      li Pas de marges externes
      li Réorganisation des éléments difficile
        ul
          li Possible (un peu) avec <code>table-header-group</code>, <code>table-footer-group</code>
      li
        a(href="http://iamvdo.me/blog/imbrication-de-boites-en-css-avec-display-table") Imbrication plus complexe

  section
    h2 Support inline-block, table
    ul
      li IE8+

  section
    h2 Flexbox: La promesse
    ul
      li Affichage en bloc ou en ligne
      li Flexibilité des boites
      li Réorganisation des éléments
      li Alignements verticaux et horizontaux
      li Responsive design facilité
    ul
      li Plusieurs versions co-existent encore
      li Promesse tenue!

  section
    h2 L'élément Flexbox
    pre
      code.
        .e {
          display: flex;
        }
    ul
      li Définit l'élément principal Flexbox
      li Les Flex items (enfants) «subissent» ce mode

  section
    h2 Les axes du Flexbox
    pre
      code.
        .e {
          flex-flow: row wrap;
        }
    ul
      li Propriété <code>flex-flow</code>, un raccourci de 2 autres
        ul
          li <code>flex-direction</code> définit <strong>l'axe principal</strong> du Flexbox
            ul
              li <code>column</code>, <code>column-reverse</code>: affichage en colonnes
              li <code>row</code>, <code>row-reverse</code>: affichage en lignes
          li <strong>L'axe secondaire</strong> est donc l'axe perpendiculaire
      li <code>flex-wrap</code> gestion du débordement des lignes
        ul
          li <code>nowrap</code>
          li <code>wrap</code>, <code>wrap-reverse</code>

  section
    h2 La flexibilité
    pre
      code.
        .e {
          flex: 1 100px;
        }
    ul
      li Propriété <code>flex</code>, un raccourci de 3 autres:
        ul
          li <code>flex-grow</code> contrainte d'agrandissement
          li <code>flex-shrink</code> contrainte de réduction
          li <code>flex-basis</code> taille de base
      li S'applique sur chaque Flex item (enfant)

  section
    h2 Ordre d'affichage
    pre
      code.
        .e {
          order: 2;
        }
    ul
      li Propriété <code>order</code> change l'ordre d'apparition au cas par cas
      li Pratique pour réorganiser, mais attention à l'accessibilité

  section
    h2 Alignements
    ul
      li Marges classiques
      li Marges automatiques: <code>margin: auto</code>
    ul
      li Alignements en fonction de l'axe (principal ou secondaire)
      li Suit le <a href="http://dev.w3.org/csswg/css3-align/">Box Alignment Module</a> (non spécifique à Flexbox)

  section
    h2 Alignement axe principal
    ul
      li <code>justify-content</code> sur le parent Flexbox
        ul
          li <code>flex-start</code>, <code>flex-end</code>, <code>center</code>, <code>space-between</code>, <code>space-around</code>
    +img('alignPrincipal.jpg')

  section
    h2 Alignement axe secondaire
    ul
      li <code>align-items</code> sur le parent Flexbox
        ul
          li <code>flex-start</code>, <code>flex-end</code>, <code>center</code>, <code>baseline</code>, <code>stretch</code>
    +img('alignSecondaire.jpg')

  section
    h2 Alignement axe secondaire
    ul
      li Un élément peut avoir son propre alignement
      li <code>align-self</code> sur un Flexbox item (enfant)
        ul
          li <code>flex-start</code>, <code>flex-end</code>, <code>center</code>, <code>baseline</code>, <code>stretch</code>
    +img('alignSelf.jpg')

  section
    h2 Support flexbox
    ul
      li IE10+ avec le préfixe <code>-ms-</code>, IE11+
      li Firefox avec le préfixe <code>-moz-</code>, Firefox 28+
      li Chrome avec le préfixe <code>-webkit-</code>, Chrome 29+
      li Safari avec le préfixe <code>-webkit-</code>
    
    ul
      li Nécessité d'outil comme Autoprefixer, 
        a(href='http://pleeease.io/play') Pleeease playground




















//- CSS Solide

section

  section
    h1 CSS Solide

  section
    h2 CSS avancés
    ul
      li
        a(href='http://slides.iamvdo.me/kiwiparty14') Ce que vous avez toujours voulu savoir sur CSS