section
  h1 HTML5

section
  h2 XML anymore?
  ul
    li Pas aussi strict
    li Non obligatoire de fermer les balises, mais 
      strong fortement recommandé!
    li Attributs sans valeur autorisés
    li Le meilleur des 2 mondes

section.language-markup
  h2 XML anymore?
  p Avant:
  pre
    code.
      &lt;p>Texte&lt;/p>
  p Après:
  pre
    code.
      &lt;p>Texte&lt;/p>

section.language-markup
  h2 XML anymore?
  p Avant:
  pre
    code.
      &lt;img src="img.jpg" alt="Texte" />
  p Après:
  pre
    code.
      &lt;img src="img.jpg" alt="Texte">

section.language-markup
  h2 XML anymore?
  p Avant:
  pre
    code.
      &lt;input type="checkbox" checked="checked" />
  p Après:
  pre
    code.
      &lt;input type="checkbox" checked>
  p



















//- Structure HTML

section.language-markup

  section
    h1 Nouvelle structure

  section
    h2 Nouveau doctype
    pre
      code.
        &lt;!doctype html>

  section
    h2: code &lt;html>
    p Avant:
    pre
      code.
        &lt;html xmlns="..." lang="fr" xml:lang="fr">
    ul
      li Attributs redondants
    p Maintenant:
    pre
      code.
        &lt;html lang="fr">
    ul
      li Attribut 
        code lang
        |  pour accessibilité

  section
    h2: code &lt;head>
    p Meta 
        code charset
        |  simplifiée
    pre
      code.
        &lt;meta charset="utf-8">
    ul
      li  On la retient par coeur maintenant!

  section
    h2: code &lt;head>
    p
        code script
        |  allégé
    pre
      code.
        &lt;script src="fichier.js">&lt;/script>
    p
        code link
        |  allégé aussi
    pre
      code.
        &lt;link rel="stylesheet" href="fichier.css">

  section
    h2 Attributs sans valeur
    p Plus simple d'utilisation
    pre
      code.
        &lt;input type="checkbox" checked>

  section
    h2 Structure complète
    p Structure (hipster) minimale
    pre
      code.
        &lt;!doctype html>
        &lt;title>Titre&lt;/title>
        &lt;p>Contenu&lt;/p>
    p Structure minimale à utiliser
    pre
      code.
        &lt;!doctype html>
        &lt;html lang="fr">
          &lt;head>
            &lt;meta charset="utf-8">
            &lt;title>Titre&lt;/title>
          &lt;/head>
          &lt;body>
            &lt;p>Contenu&lt;/p>
          &lt;/body>
        &lt;/html>
    ul
      li Reconnue depuis IE6!




















//- Balises

section.language-markup

  section
    h1 Balises: nouvelles règles

  section
    h2 Balises redéfinies
    ul
      li Balise 
        code &lt;a> 
        ul
          li Autorise d'englober des éléments blocks
    p Avant:
    pre
      code.
        &lt;h4>&lt;a href="#">Titre&lt;/a>&lt;/h4>
        &lt;p>&lt;a href="#">Texte&lt;/a>&lt;/p>
    p Maintenant:
    pre
      code.
        &lt;a href="#">
          &lt;h4>Titre&lt;/h4>
          &lt;p>Texte&lt;/p>
        &lt;/a>
    +img('a-block.jpg')

  section
    h2 Balises redéfinies
    p: code &lt;cite>
    ul
      li Pas une citation
      li Le titre d'une oeuvre: livre, film, poème, etc.
    pre
      code.
        &lt;p>J'ai écrit le livre &lt;cite>CSS3 Le Design web moderne&lt;/cite>&lt;/p>
    ul
      li Citations: 
        code q
        |  (citations courtes), 
        code blockquote
        |  (citations longues)

  section
    h2 Balises redéfinies
    p: code &lt;b>
    ul
      li Mettre en valeur sans sémantique
    p: code &lt;i>
    ul
      li Changement de ton
    ul
      li Préférez toujours 
        code &lt;strong>
        |  et 
        code &lt;em>

  section
    h2 Balises abandonnées
    ul
      li Balises de mise en forme
        ul
          li
            code &lt;basefont>
            |, 
            code &lt;font>
            |, 
            code &lt;center>
            |, 
            code &lt;big>
            |, 
            code &lt;u>
            |, 
            code &lt;strike>
      li Problèmes d'accessibilité
        ul
          li
            code &lt;frame>
            |, 
            code &lt;frameset>
            |, 
            code &lt;noframes>
      li Pas assez utilisées, ou entre en concurrence
        ul
          li
            code &lt;acronym>
            |, 
            code &lt;applet>




















//- Balises Structurelles

section.language-markup

  section
    h1 Balises structurelles
  
  section
    h2 Pourquoi?
    ul
      li Segmenter le document
      li Ajouter une sémantique précise
      li Remplacer les 
        code &lt;div id="menu">
        |, 
        code &lt;div id="sidebar">
        |, etc, mais pas seulement
      li N'empêche pas d'utiliser des 
        code id
        |  ou des 
        code class

  section
    h2: code section
    ul
      li Définit une partie de page, d'application
      li Contenu de même thème
      li Ne pas sur-utiliser
    pre
      code.
        &lt;section>
          &lt;h1>Articles&lt;/h1>
          &lt;article>
            &lt;p>Contenu&lt;/p>
          &lt;/article>
        &lt;/section>

  section
    h2: code main
    ul
      li Contenu principal de la page
    pre
      code.
        &lt;main>
          &lt;h1>Articles&lt;/h1>
          &lt;article>
            &lt;p>Contenu&lt;/p>
          &lt;/article>
        &lt;/main>

  section
    h2: code article
    ul
      li Une section, axée rédaction
      li Élément réutilisable hors contexte
      li Indépendant
      li Billet de blog, fiches informations, etc.
    pre
      code.
        &lt;article>
          &lt;h1>Titre de l'article&lt;/h1>
          &lt;p>Contenu&lt;/p>
        &lt;/article>

  section
    h2: code aside
    ul
      li Contenu annexe
      li Apporte des informations complémentaires
      li Pas primordial
    pre
      code.
        &lt;article>
          &lt;p>Contenu&lt;/p>
          &lt;aside>
            &lt;p>Note: saviez-vous que...&lt;/p>
          &lt;/aside>
          &lt;p>Contenu&lt;/p>
        &lt;/article>

  section
    h2: code header
    ul
      li Entête de section, pas uniquement du site
      li Contient titres, logos, textes, navigation, pagination, dates, etc.
    pre
      code.
        &lt;article>
          &lt;header>
            &lt;h1>Titre de l'article&lt;/h1>
            &lt;p>Écrit par moi&lt;/p>
          &lt;/header>
          &lt;p>Contenu&lt;/p>
        &lt;/article>

  section
    h2: code footer
    ul
      li Pied de page de section, pas uniquement du site
      li Contient titres, logos, textes, navigation, pagination, dates, etc.
    pre
      code.
        &lt;footer>
          &lt;h1>À lire aussi:&lt;/h1>
          &lt;p>Contenu&lt;/p>
        &lt;/footer>


  section
    h2: code nav
    ul
      li Liens de navigation
      li Navigation principale principalement
    pre
      code.
        &lt;nav>
          &lt;ul>
            &lt;li>&lt;a href="#">Accueil&lt;/a>&lt;/li>
            &lt;li>&lt;a href="#">Contact&lt;/a>&lt;/li>
          &lt;/ul>
        &lt;/nav>

  section
    h2
      code figure
      | et 
      code figcaption
    ul
      li Définir une légende à un élément
      li Images, vidéos, graphique, code, etc.
    pre
      code.
        &lt;figure>
          &lt;img src="image.jpg" alt="">
          &lt;figcaption>Oh la belle image&lt;/figcaption>
        &lt;/figure>

  section
    h2
      code time
    ul
      li Définir une date ou une heure
    pre
      code.
        &lt;p>Le concert commence à &lt;time>20:00&lt;/time>.&lt;/p>
    ul
      li Attribut 
        code datetime
        |  pour spécifier le format
    pre
      code.
        &lt;p>Le concert a lieu le &lt;time datetime="2015-05-20 20:00">20 mai&lt;/time>.&lt;/p>
    ul
      li Attribut 
        code pubdate
        |  pour date de publication

  section
    h2 Outline
    ul
      li Nouveaux types d'éléments; plus seulement block et inline
      li Sectioning content: 
        code section
        |, 
        code article
        |, 
        code aside
        |, 
        code nav
      li
        a(href='http://hoyois.github.io/html5outliner/') Portée des titres

  section
    h2 Cas classique
    pre
      code.
        &lt;body>
          &lt;h1>Titre A&lt;/h1>
          &lt;p>Contenu&lt;/p>
          &lt;h2>Titre B&lt;/h2>
          &lt;p>Contenu&lt;/p>
          &lt;h2>Titre C&lt;/h2>
          &lt;p>Contenu&lt;/p>
        &lt;/body>
    p Donne:
    ul
      li 1. Titre A
        ul
          li 1.1 Titre B
          li 1.2 Titre C

  section
    h2 Cas HTML5
    pre
      code.
        &lt;body>
          &lt;h1>Titre A&lt;/h1>
          &lt;p>Contenu&lt;/p>
          &lt;section>
            &lt;h1>Titre B&lt;/h1>
            &lt;p>Contenu&lt;/p>
          &lt;/section>
          &lt;h2>Titre C&lt;/h2>
          &lt;p>Contenu&lt;/p>
        &lt;/body>
    p Donne:
    ul
      li 1. Titre A
        ul
          li 1.1 Titre B
          li 1.2 Titre C
    p Et non:
    ul
      li 1. Titre A
      li 2. Titre B
        ul
          li 2.1 Titre C

  section
    h2 Internet Explorer
    p Pour Internet Explorer 9-:
    ul
      li Les éléments sont inline par défaut
      li Créer l'élément en JavaScript
        ul
          li: code document.createElement('section')
      li Affichage en mode block en CSS
        ul
          li: code section { display: block }

  section
    h2 Outils / Code
    ul
      li
        a(href='http://html5shiv.googlecode.com/svn/trunk/html5.js') HTML5 Shiv
      li Utilisation des 
        a(href='http://www.alsacreations.com/astuce/lire/48-commentaires-conditionnels.html') commentaires conditionnels
    pre
      code.
        &lt;!--[if lt IE 9]>
          &lt;script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">&lt;/script>
        &lt;![endif]-->

  section
    h2 Ressources
    ul
      li
        a(href='http://www.alsacreations.com/article/lire/1374-html5-structure-globale-document.html') Structure HTML5
      li
        a(href='http://www.alsacreations.com/article/lire/1376-html5-section-article-nav-header-footer-aside.html') Nouveaux éléments
      li
        a(href='http://www.alsacreations.com/article/lire/1337-html5-elements-figure-et-figcaption.html') Éléments figure et figcaption
      li
        a(href='https://developer.mozilla.org/fr/docs/Web/HTML/Sections_and_Outlines_of_an_HTML5_document') Outline HTML5

  section
    h2 TP!




















//- Balises Applicatives

section.language-markup

  section
    h1 Balises applicatives
  
  section
    h2 Pourquoi?
    ul
      li Site web deviennent des applications web
      li Éviter de tout simuler avec des 
        code &lt;div>
      li Implémentation succinte

  section
    h2: &lt;progress>
    ul
      li Barre de progression
      li Visualiser l'avancement d'une tâche
    pre
      code
        &lt;progress value="70" max="100">70 %&lt;/progress>
    ul
      li Attributs 
        code max
        |  et 
        code value

  section
    h2: &lt;meter>
    ul
      li Mesure dans un intervalle connu
      li Exemple: espace de stockage restant, pertinence d'un résultat, proportions, etc.
    pre
      code
        &lt;p>Utilisation de l'espace de stockage: &lt;meter value="6" max="8" low="5" high="6">6 blocs utilisés (sur un total de 8)&lt;/meter>&lt;/p>
    ul
      li Attributs 
        code min
        |, 
        code max
        |  et 
        code value
      li Mais aussi 
        code low
        |, 
        code optimum
        |  et 
        code high
      li Valeur considérée basse, haute ou optimum




















//- Formulaires

section.language-markup

  section
    h1 Formulaires

  section
    h2 
    ul
      li Nouveaux attributs
      li Nouveaux contrôles

  section
    h2 Attribut 
      code placeholder
    ul
      li Valeur dans le champ
      li Quand click: disparait.
      li Ne remplace pas 
        code &lt;label>
    pre
      code.
        &lt;label>Recherchez un auteur
          &lt;input type="text" placeholder="Hugo, Zola, etc.">
        &lt;/label>
    +img('placeholder.jpg')

  section
    h2 Attribut 
      code autofocus
    ul
      li Booléen
      li Donne le focus au champ au chargement
      li Sur 
        code &lt;input>
        |, 
        code &lt;textarea>
        |, 
        code &lt;select>
    pre
      code.
        &lt;label>Recherchez un auteur
          &lt;input type="text" autofocus>
        &lt;/label>
    ul
      li
        a(href='http://www.synonymes.com/') synonymes.com en aurait besoin

  section
    h2 Attribut 
      code required
    ul
      li Booléen
      li Rends le champ obligatoire
      li Le formulaire ne peut pas être validé si le champ est vide
    pre
      code.
        &lt;label>Recherchez un auteur
          &lt;input type="text" required>
        &lt;/label>
    +img('required.jpg')

  section
    h2 Attribut 
      code autocomplete
    ul
      li Empêche les navigateurs de pré-remplir les champs
    pre
      code.
        &lt;form action="#" autocomplete="off">
    pre
      code.
        &lt;input type="text" autocomplete="off">

  section
    h2 Attribut 
      code pattern
    ul
      li Règle de validation d'un champ
      li Basé sur expression régulière
    p Le texte doit commencer par "a"
    pre
      code.
        &lt;input type="text" pattern="^a">

  section
    h2 Attribut 
      code novalidate
    ul
      li Empêche les navigateurs de valider les champs
      li Règle les problèmes d'inconsistence et d'accessibilité
    pre
      code.
        &lt;form action="#" novalidate>
    ul
      li Existe également 
        code formnovalidate
        |  sur boutons de validation
    pre
      code.
        &lt;input type="submit" formnovalidate>

  section
    h2: code datalist
    ul
      li Nouveau type de champ
      li À mi-chemin entre un 
        code &lt;input>
        |  et un 
        code &lt;select>
      li Liste de choix pour input, ou autre choix
    pre
      code.
        &lt;input type="text" list="auteurs">
        &lt;datalist id="auteurs">
          &lt;option>Hugo&lt;/option>
          &lt;option>Zola&lt;/option>
          &lt;option>Balzac&lt;/option>
        &lt;/datalist>
    +img('datalist.jpg')
    ul
      li Attribut 
        code label
        |  sur 
        code option
        |  pour spécifier une info supplémentaire
      li
        a(href='http://demo.agektmr.com/datalist/') Pas uniquement avec 
          code &lt;input type="text">

  section
    h2: code &lt;input type="search">
    ul
      li Identique à 
        code &lt;input type="text">
      li Style différent dans WebKit
    pre
      code.
        &lt;input type="search">

  section
    h2: code &lt;input type="number">
    ul
      li Similaire à 
        code &lt;input type="text">
      li Contrôle supplémentaire
      li N'accepte que des nombres
      li (Clavier adapté sur mobile)
      li Attributs 
        code min
        |, 
        code max
        |, 
        code step
    pre
      code.
        &lt;input type="number" min="0" max="100" step="2">
    +img2('input-number.jpg')

  section
    h2: code &lt;input type="email">
    ul
      li Similaire à 
        code &lt;input type="text">
      li N'accepte que des emails
      li Clavier adapté sur mobile
    pre
      code.
        &lt;input type="email">
    +img2('input-mail.jpg')

  section
    h2: code &lt;input type="tel">
    ul
      li Similaire à 
        code &lt;input type="text">
      li N'accepte que des nombres
      li Clavier adapté sur mobile
      li Pas de validation auto (mais attribut 
        code pattern
        |)
    pre
      code.
        &lt;input type="tel" pattern="^\d{10}">
    +img2('input-tel.jpg')

  section
    h2: code &lt;input type="url">
    ul
      li Similaire à 
        code &lt;input type="text">
      li N'accepte que des URLs
      li Clavier adapté sur mobile
    pre
      code.
        &lt;input type="url">

  section
    h2: code &lt;input type="range">
    ul
      li Type slider
      li Attributs 
        code min
        |, 
        code max
        |, 
        code step
    pre
      code.
        &lt;input type="range" min="0" max="50" value="10">
    +img2('input-range.jpg')

  section
    h2: code &lt;input type="color">
    ul
      li Type sélecteur couleur
      li Héxadécimal
    pre
      code.
        &lt;input type="color">
    +img2('input-color.jpg')

  section
    h2: code &lt;input type="date">
    ul
      li Type sélecteur de date
      li Format: Année, mois, jour
      li 2014-10-05
    pre
      code.
        &lt;input type="date">
    +img2('input-date.jpg')

  section
    h2: code &lt;input type="datetime-local">
    ul
      li Type sélecteur de date
      li Format: Année, mois, jour, heures, minutes
      li 2014-10-05T18:35
    pre
      code.
        &lt;input type="datetime-local">
    +img2('input-datetime.jpg')

  section
    h2 Déclinaisons
    ul
      li: code &lt;input type="time">
      li Format: Heures
      li 18:35
    ul
      li: code &lt;input type="week">
      li Format: Année, Semaine
      li 2014-W42
    ul
      li: code &lt;input type="month">
      li Format: Annee, mois
      li 2014-10

  section
    h2 CSS
    ul
      li Aie!
      li Difficile à styler
      li Rendu similaire impossible
      li
        a(href='https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-browser-Polyfills#web-forms') Polyfills Web Forms

  section
    h2 TP!
    ul
      li Créer un formulaire avec:
        ul
          li Nom (obligatoire, activé par défaut)
          li Prénom (obligatoire)
          li Mail (obligatoire)
          li Age
          li Sliders pour compétences HTML, CSS, JS
          li Mois préféré (avec liste de choix)
          li Validation




















//- Audio-Video

section.language-markup

  section
    h1 Audio / Vidéo

  section
    h2 Élément 
      code &lt;audio>
    ul
      li Intégrer un son
      li Ne nécessite pas de plugin
    p Source unique
    pre
      code.
        &lt;audio src="video.mp3">
          Contenu alternatif
        &lt;/audio>
    p Sources multiples
    pre
      code.
        &lt;audio>
          &lt;source src="audio.mp3" type="audio/mpeg">
          &lt;source src="audio.ogg" type="audio/ogg">
        &lt;/audio>

  section
    h2 Élément 
      code &lt;video>
    ul
      li Intégrer une vidéo
      li Ne nécessite pas de plugin
    p Source unique
    pre
      code.
        &lt;video src="video.mp4" width="600" height="400">
          Contenu alternatif
        &lt;/video>
    p Sources multiples
    pre
      code.
        &lt;video width="600" height="400">
          &lt;source src="video.mp4" type="video/mp4">
          &lt;source src="video-hd.mp4" type="video/mp4">
        &lt;/video>

  section
    h2 Attributs audio / vidéo
    p
      code controls
    ul
      li Affiche / masque les contrôles
    p
      code preload
    ul
      li Préchargement avant lecture
      li Valeurs
        code auto
        |, 
        code metadata
        |  ou 
        code none
      li À utiliser avec prudence
    p
      code autoplay
    ul
      li Lance la lecture automatiquement
      li À utiliser avec prudence également (mobilité)
    p
      code loop
    ul
      li Lecture en boucle
    p
      code poster="image.jpg"
      |  (vidéo uniquement)
    ul
      li Affiche image.jpg avant la lecture de la vidéo
    

  section
    h2 Formats
    ul
      li WebM
        ul
          li Libre et gratuit
          li Lancé par Google
          li OK sur Firefox, Chrome, Opera
          li Type MIME: 
            code type="audio/webm"
            |, 
            code type="video/webm"
      li OGG Theora
        ul
          li Libre et gratuit
          li OK sur Firefox, Chrome, Opera
          li Type MIME: 
            code type="audio/ogg"
            |, 
            code type="video/ogg"
      li MP4
        ul
          li Non libre et non gratuit
          li Gratuit pour diffusion gratuite
          li OK sur Safari (+iAppareils), IE9
          li Type MIME: 
            code type="audio/mp4"
            |, 
            code type="video/mp4"
      li
        code type="audio/mpeg"
        |, 
        code type="audio/wave"
      li
        a(href='https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats#Browser_compatibility') Aussi une histoire de codecs

  section
    h2 Formats
    ul
      li Convertir vos fichiers vidéos
        ul
          li
            a(href='http://www.mirovideoconverter.com/') Miro converter
      li Configurez le serveur (.htaccess)
    pre.language-txt
      code.
        AddType video/mp4  .mp4 .m4v
        AddType video/webm .webm
        AddType video/ogg  .ogv

        AddType audio/aac .aac
        AddType audio/mp4 .mp4 .m4a
        AddType audio/mpeg .mp1 .mp2 .mp3 .mpg .mpeg
        AddType audio/ogg .oga .ogg
        AddType audio/wav .wav
        AddType audio/webm .webm

  section
    h2 Proposer une alternative
    ul
      li Élément 
        code object
        |: recours à Flash
    pre
      code.
        &lt;video width="600" height="400">
          &lt;source src="video.mp4" type="video/mp4">
          &lt;source src="video.webm" type="video/webm">

          &lt;object type="application/x-shockwave-flash" width="600" height="400" data="http://www.youtube.com/v/HVMoJqg41Bw">
            &lt;param name="movie" value="http://www.youtube.com/v/HVMoJqg41Bw" />
            &lt;param name="wmode" value="transparent" />
            Contenu alternatif
          &lt;/object>

        &lt;/video>

  section
    h2 Media Elements API
    ul
      li API complète pour gérer les médias
      li Propriétés
        ul
          li
            code currentTime
          li
            code duration
          li
            code volume
          li
            a(href='https://developer.mozilla.org/fr/docs/Web/API/HTMLMediaElement#Properties') etc.
      li Méthodes
        ul
          li
            code play()
          li
            code pause()
          li
            a(href='https://developer.mozilla.org/fr/docs/Web/API/HTMLMediaElement#Method') etc.
      li Évènements
        ul
          li
            code ended
            |, 
            code loadedfirstframe
            |, 
            code pause
            |, 
            code play
            |, 
            code seeked
            |, 
            code volumechange
            |, 
            a(href='https://developer.mozilla.org/fr/docs/Web/HTML/Utilisation_d\'audio_et_video_en_HTML5') etc.

  section
    h2 TP!
    ul
      li Lecteur Vidéo en HTML5:
        ul
          li Insérer une vidéo
          li Créer boutons: play, pause, stop
          li Créer barre de progression
      li Si vous avez le temps
        ul
          li Contrôle du volume
          li Plein écran




















//- Microdata

section

  section
    h1 Microdonnées

  section
    h2 Pourquoi
    ul
      li Une page web: un flux d'informations
      li Apport de sémantique
      li Exemples: actualités, évènements, localisation, carte de visite, fiche produit, films, etc.
      li SEO, rich snippets
        +img('richsnippet.jpg')
      li Recherche vocale : OK Google, Siri, Cortana, etc.

  section
    h2 Histoire
    ul
      li 3 spécifications
      li RDFa
        ul
          li Resource Description Framework in attributes
          li -) Un peu trop complexe
          li -) Jamais vraiment utilisé
      li Microformats
        ul
          li Basé sur classes HTML
          li Différents types d'objet
            pre.language-markup
              code.
                &lt;span class="vcard">
                  &lt;span class="fn">Vincent De Oliveira&lt;/span>, 
                  &lt;span class="org">ENSG&lt;/span>
                &lt;/span>
          li +) Fonctionne très bien
          li -) 
            a(href='http://www.marmiton.org/recettes/recette_mojito-cubain_80528.aspx') Difficultés pour s'y retrouver
          li -) Conflit avec d'autres classes

  section
    h2 Microdata
    ul
      li
        a(href='http://schema.org') Schema.org
        ul
          li Ensemble de définitions de microdonnées
          li Poussé par Google, Bing, Yahoo
          li Mieux que les autres
          li
            a(href='http://www.google.com/webmasters/tools/richsnippets') Outil de test
      li Basé sur attributs HTML:
        ul
          li
            code itemscope
            |: booleén. Nouvel object sémantique
          li
            code itemtype
            |: type d'élément sémantique, défini sur Schema.org
          li
            code itemprop
            |: propriétés de l'objet

  section
    h2 Microdata
    ul
      li Cas d'une fiche de film:
    pre.large
      code.language-markup.
        &lt;div class="fiche">
          &lt;h1>Pirates of the Carribean On Stranger Tides 2011&lt;/h1>
          &lt;p>Jack Sparrow and Barbossa embark on a quest to find the elusive fountain of youth only to discover that Blackbeard and his daughter are after it too.&lt;/p>
          &lt;p>Director: Rob Marshall&lt;/p>
          &lt;p>Writers: Ted Elliott, Terry Rossio, and 7 more credits&lt;/p>
          &lt;p>Stars: Johnny Depp, Penelope Cruz, Ian McShane&lt;/p>
          &lt;p>8/10 stars from 200 users. Reviews: 50.&lt;/p>
        &lt;/div>

  section
    h2 Microdata
    ul
      li Création d'un nouvel object sémantique
    pre.large
      code.language-markup.
        &lt;div class="fiche" itemscope>
          &lt;h1>Pirates of the Carribean On Stranger Tides 2011&lt;/h1>
          &lt;p>Jack Sparrow and Barbossa embark on a quest to find the elusive fountain of youth only to discover that Blackbeard and his daughter are after it too.&lt;/p>
          &lt;p>Director: Rob Marshall&lt;/p>
          &lt;p>Writers: Ted Elliott, Terry Rossio, and 7 more credits&lt;/p>
          &lt;p>Stars: Johnny Depp, Penelope Cruz, Ian McShane&lt;/p>
          &lt;p>8/10 stars from 200 users. Reviews: 50.&lt;/p>
        &lt;/div>

  section
    h2 Microdata
    ul
      li Préciser le type d'objet
    pre.large
      code.language-markup.
        &lt;div class="fiche" itemscope itemtype="http://schema.org/Movie">
          ...
        &lt;/div>
    ul
      li Type 
        a(href='http://schema.org/Movie') Movie

  section
    h2 Microdata
    ul
      li Ajout des propriétés
    pre.large
      code.language-markup.
        &lt;div class="fiche" itemscope itemtype="http://schema.org/Movie">
          &lt;h1 itemprop="name">Pirates of the Carribean On Stranger Tides 2011&lt;/h1>
          &lt;p itemprop="description">Jack Sparrow and Barbossa embark on a quest to find the elusive fountain of youth only to discover that Blackbeard and his daughter are after it too.&lt;/p>
          &lt;p>Director: &lt;span itemprop="director">Rob Marshall&lt;/span>&lt;/p>
          &lt;p>Writers: &lt;span itemprop="author">Ted Elliott&lt;/span>, &lt;span itemprop="author">Terry Rossio&lt;/span>, and 7 more credits&lt;/p>
          &lt;p>Stars: &lt;span itemprop="actor">Johnny Depp&lt;/span>, &lt;span itemprop="actor">Penelope Cruz&lt;/span>, &lt;span itemprop="actor">Ian McShane&lt;/span>&lt;/p>
          &lt;p itemprop="aggregateRating">8/10 stars from 200 users. Reviews: 50.&lt;/p>
        &lt;/div>
    ul
      li Type 
        a(href='http://schema.org/Movie') Movie
      li Problème sur le rating

  section
    h2 Microdata
    ul
      li Imbrication
    pre.large
      code.language-markup.
        &lt;div class="fiche" itemscope itemtype="http://schema.org/Movie">
          ...
          &lt;p itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            &lt;span itemprop="ratingValue">8&lt;/span>/&lt;span itemprop="bestRating">10&lt;/span> stars from &lt;span itemprop="ratingCount">200&lt;/span> users.
            Reviews: &lt;span itemprop="reviewCount">50&lt;/span>.&lt;/p>
        &lt;/div>

  section
    h2 Valeurs
    ul
      li Valeur de la propriété = contenu
      li Sauf 
        a(href='http://www.w3.org/TR/microdata/#values') cas particuliers
      li Utilisation de 
        code content
        | dans cas complexes
    pre.large
      code.language-markup.
        &lt;div class="fiche" itemscope itemtype="http://schema.org/Movie">
          ...
          &lt;p>Voir la &lt;a itemprop="trailer" href="http://">bande-annonce&lt;/a>&lt;/p>
        &lt;/div>
    ul
      li La valeur n'est pas bande-annonce, mais l'URL

  section
    h2 Éléments externes:
    ul
      li Cas d'une propriété hors l'objet
      li 
        code itemref
        |  sur objet sémantique
      li
        code id
        | sur propriété
    pre.large
      code.language-markup.
        &lt;div class="fiche" itemref="award" itemscope itemtype="http://schema.org/Movie">
          ...
        &lt;/div>
        ...
        &lt;p>Le fim a reçu le &lt;span id="award" itemprop="award">prix Bateau de Pirates&lt;/span>&lt;/p>

  section
    h2 TP!
    ul
      li Nouvel album de U2
      li MusicAlbum, MusicGroup, MusicRecording
      li Durées au format 
        a(href='http://en.wikipedia.org/wiki/ISO_8601#Durations') ISO 8601