section
  h1 RWD: Responsive Web Design

section
  h2 RWD?
  ul
    li Mot de l'année en 2013
    li Incontournable dans une stratégie web

section
  h2 Constat
  ul
    li Multitude d'écrans
    li De très petit à très grand
      +img('devices.jpg')
    li Nécessité d'adapter le contenu pour:
      ul
        li Offrir un confort de navigation
        li Expérience de lecture optimale

section
  h2 Stratégie
  ul
    li Choix possibles
      ul
        li Affichage 1:1 (taille réelle)
        li Affichage au mieux (mise à l'échelle)
        li Affichage adaptatif
  +img2('stategy.jpg')

section
  h2 Techniquement
  p Deux méthodes:
  ul
    li Site dédié
    li Site unique, adaptatif

section
  h2 Site dédié
  ul
    li Plusieurs sites (URLs) distincts (desktop, mobile, autre)
    li Les +:
      ul
        li Contrôle précis du contenu de chaque version
        li Workflow séparé
    li Les -:
      ul
        li Contenu dupliqué (duplicate content)
        li Maintenance de plusieurs versions, SEO
        li Détection de user-agent (technique non fiable)

section
  h2 Site adaptatif
  ul
    li Un site unique
    li Les +:
      ul
        li Maintenance
        li Évolutions
        li Déploiement multi-plateformes
        li
          a(href='http://jsbin.com/yuzahi/1/edit?output') Plusieurs sites sur le même écran
          +img('snap-mode.png')
    li Les -:
      ul
        li Contenu identique entre les "versions"
        li Workflow

section
  h2 Techniquement
  p 4 modèles de design:
  ul
    li Design statique
      ul
        li Dimensions fixes
        li Ne s'adapte pas
    li Design liquide
      ul
        li Dimensions fluides (%, em, etc.)
        li S'adapte à la page
    li Design Adaptative
      ul
        li Dimensions fixes
        li Ne s'adapte pas à la page mais se réorganise
    li Design Responsive
      ul
        li Dimensions fluides
        li S'adapte à la page et se réorganise
  ul
    li
      a(href='http://liquidapsive.com/') Liquidapsive




















//- Media-Queries

section.language-css

  section
    h1 Média-queries

  section
    h2 CSS et médias
    ul
      li Les médias existent depuis toujours
        ul
          li Par exemple le média <code>print</code>
      li Attribut <code>media</code> en HTML
        ul
          li <code>&lt;link rel="stylesheet" media="screen" href="screen.css" /></code>
          li <code>&lt;link rel="stylesheet" media="print" href="print.css" /></code>
      li Règle <code>@media</code> en CSS
        ul
          li <code>@media print { .elem { ... } }</code>
      li En CSS3, requête de médias: les media-queries!

  section
    h2 Media-queries
    ul
      li Critères pour cibler des conditions particulières
    pre
      code.
        @media (max-width: 600px) {
          .e {
            color: red;
          }
        }
    ul
      li Styles appliqués seulement si la largeur du viewport est inférieure à 600px

  section
    h2 Media-queries
    ul
      li Combinaisons possibles. Exemples:
        ul
          li <code>@media screen and (max-width: 600px)</code>
          li <code>@media print and (max-width: 15cm)</code>
          li <code>@media (min-width: 200px) and (max-width: 400px)</code>
    
  section
    h2 Autres critères
    ul
      li Largeur et hauteur
        ul
          li <code>(min|max)-device-height</code>
      li Orientation
        ul
          li <code>orientation: (landscape|portrait)</code>
      li Ratio d'écran
        ul
          li <code>(min|max)-device-aspect-ratio</code>
      li Ratio de pixels
        ul
          li <code>(min|max)-resolution</code> (en 
            code dpi
            |  ou 
            code dppx
            |)
          li
            code (min|max)-device-pixel-ratio
      li et d'autres

  section
    h2 Support media-queries
    ul
      li IE9+, 
        a(href='https://github.com/scottjehl/Respond') polyfill
        |  pour IE8
    ul
      li <code>resolution</code> et <code>dppx</code> non supporté par WebKit (Chrome, Safari)
        ul
          li <code>device-pixel-ratio</code> en attendant




















//- Affichage

section.language-css

  section
    h1 Affichage

  section
    h2 Les surfaces d'affichage
    ul
      li Sur mobile, 3 notions d'affichage:
        ul
          li Surface réelle
          li Surface déclarée
          li Le viewport
    +img2('03-mobile2.jpg')

  section
    h2 Surface réelle
    ul
      li C'est le nombre physique de pixels de l'écran
      li Par exemple:
        ul
          li iPhone5: 640 x 1136px
          li Nexus5: 1080 x 1920px
          li iPad mini: 768 x 1024px
          li Nexus7 (v1): 800 x 1280px
    ul
      li En CSS, c'est <code>screen-width</code>, <code>screen-height</code>
      li Non modifiable

  section
    h2 Surface déclarée
    ul
      li C'est le nombre de pixels que le téléphone pense avoir
      li Le nombre de "pixels CSS"
      li Par exemple:
        ul
          li iPhone5: 320 x 568px (1:2)
          li Nexus5: 360 x 640px (1:3)
          li iPad mini: 768 x 1024px (1:1)
          li Nexus7 (v1): 603 x 966px (1:1.325)
    ul
      li 1 pixel CSS ne vaut donc pas toujours 1px écran
        ul
          li Ratio (unité 
            code dppx
            |)
      li En CSS, c'est <code>device-width</code>, <code>device-height</code>
      li Non modifiable

  section
    h2 iPhone6 Plus
    ul
      li Complexifie encore
      li Surface réelle: 1080x1920px
      li Surface déclarée: 414x736px
      li Surface rendue (!): 1242x2208px
        ul
          li Réduction de ~13% à l'affichage
          li Ratio de 3, mais de ~2.6 à l'affichage

  section
    h2 Le viewport
    ul
      li C'est la zone fictive d'affichage dans laquelle le site est rendu
      li Généralement plus grande au départ
        ul
          li Pas égale à la surface réelle, ni à la surface déclarée
      li Mais adaptée ensuite dans la surface déclarée
        ul
          li Zoom dynamique (facteur d'échelle) = (<code>device-width</code> / viewport)
          li Ex: iPhone5: (320 / 980) = 0.326

  section
    h2 Le viewport
    +img2('viewport.jpg')

  section
    h2 Problèmes
    ul
      li Le viewport dépend du navigateur (et même du réglage de l'utilisateur)
      li Par exemple:
        ul
          li iPhone5: 980px
          li Nexus5: ça dépend
          li iPad mini: 980px
          li Nexus7 (v1): ça dépend
      li Modifiable!

  section
    h2 Modifier le viewport
    ul
      li Balise meta
        ul
          li
            code &lt;meta name="viewport" content="">
          li Ajouté par Apple pour l'iPhone1
    ul
      li Sans viewport spécifié
    +img('meta-viewport1.jpg')

  section
    h2 Modifier la taille du viewport
    ul
      li
        code &lt;meta name="viewport" content="width=320px">
    +img('meta-viewport3-1.jpg')
    ul
      li Éléments plus grands: agrandissent le viewport
    +img('meta-viewport3.jpg')
    ul
      li Utiliser les constantes du matériel
        ul
          li
            code &lt;meta name="viewport" content="width=device-width">

  section
    h2 Modifier le zoom d'affichage
    ul
      li
        code &lt;meta name="viewport" content="initial-scale=1">
    +img('meta-viewport2.jpg')

  section
    h2 Autres valeurs de viewport
    ul
      li
        code width
        |  et 
        code height
      li
        code initial-scale
        |  et 
        code mininum-scale
        |  et
        code maximum-scale
      li
        code user-scalable

  section
    h2 Bugs d'orientation
    ul
      li
        code device-width
        |  en mode paysage sur iPhone
        +img('meta-viewport4.jpg')

  section
    h2 Viewport recommandé
    ul
      li
        code &lt;meta name="viewport" content="width=device-width,initial-scale=1">
      li
        code &lt;meta name="viewport" content="initial-scale=1">
        |  si vous contrôlez la taille de vos éléments.

  section
    h2 D'autres infos
    ul
      li Viewport non modifiable par le code
      li Viewport en CSS 
        code @viewport
        | (pas de consensus)
    pre
      code.
        @viewport {
          width: 320px;
          zoom: 1;
        }
    p




















//- Adapter un site

section.language-css

  section
    h1 Adapter un site

  section
    h2 Ça implique quoi?
    ul
      li Grille fluide
      li Peu de valeurs en pixels
      li Gérer le débordement des images, vidéos, etc.
      li Philosophie mobile-first ou non

  section
    h2 En CSS
    ul
      li Prévoir de s'adapter aux différentes largeurs
      li Abandonnez les tailles fixes
        ul
          li Utilisez les pourcentages
          li Utilisez <code>max-width</code>, <code>min-width</code>
          li Limitez les <code>float</code>

  section
    h2 En JavaScript (coté client)
    ul
      li Détecter les media-queries
      li
        code matchMedia
    pre
      code.language-javascript.
        if (window.matchMedia("(min-width: 600px)").matches) {
          /* largeur supérieure à 600 px inclus */
        } else {
          /* largeur inférieure à 600px */
        }

  section
    h2 Images
    ul
      li Images adaptées
        ul
          li Taille d'écran
          li Résolution
          li Réseau

  section
    h2 Contraintes
    ul
      li Beaucoup
      li Et complexes!
      li
        a(href='http://www.alsacreations.com/article/lire/1559-responsive-web-design-present-futur-adaptation-mobile.html') Adaptation présente et future du RWD



















//- Tester un site

section.language-css

  section
    h1 Tester le RWD

  section
    h2 Bonne vieille méthode
    ul
      li Resize FTW!

  section
    h2 Navigateurs
    ul
      li Outils intégrés par défaut
        ul
          li Firefox (Vue adaptative)
          li Chrome (Émulation)
          li Internet Explorer (Émulation)

  section
    h2 Plugins / Outils
    ul
      li
        a(href='http://responsive.victorcoulon.fr/') RWD Bookmarklet
      li 
        a(href='http://lab.maltewassermann.com/viewport-resizer/') Viewport Resizer
      li
        a(href='http://tzi.fr/css/responsive/breaq-bookmarklet') Breaq, affiche les points critiques

  section
    h2 Meilleure méthode
    ul
      li Sur les devices!
        +img('devices.jpg')
      li Device Lab
        +img('device-lab.jpg')
      li Le Bon Coin